@font-face{font-family:'IRANSans-web';src:url('../fonts/IRANSans-Light.eot?') format('eot'), url('../fonts/IRANSans-Light.woff') format('woff');font-weight:normal;}
@font-face{font-family:'Yekan';src:url('../fonts/YekanWeb-Regular.eot');src:url('../fonts/YekanWeb-Regular.eot?') format('embedded-opentype'), url('../fonts/YekanWeb-Regular.woff') format('woff'), url('../fonts/YekanWeb-Regular.ttf') format('truetype');}
@font-face{font-family:'Vazir';src:url('../fonts/Vazir.eot');src:url('../fonts/Vazir.eot?') format('embedded-opentype'), url('../fonts/Vazir.woff') format('woff'), url('../fonts/Vazir.ttf') format('truetype');}
@font-face{font-family:'Koodak';src:url('../fonts/BKoodakBold.eot');src:url('../fonts/BKoodakBold.eot?') format('embedded-opentype'), url('../fonts/BKoodakBold.woff') format('woff'), url('../fonts/BKoodakBold.ttf') format('truetype');}
body{direction:rtl;font-family:'Vazir','IRANSans-web','Yekan', Tahoma;background:#F7F7F7 none repeat scroll 0 0;}
h1, h2, h3, h4, h5, h6{font-family:'Vazir','IRANSans-web';}
h2, .h2{font-size:1.8em;}
h3, .h3{font-size:1.6em;}
.container.body-content{margin-top:60px;}
a{transition:all 0.3s ease-out 0s;text-decoration:none;}
p{text-align:justify}
.mt10{margin-top:10px;}
.container-me{margin-top:60px;}
.wrapper{margin-top:20px;}
.navbar-me{background-color:#a7d183;border-bottom:1px solid #00ced1;box-shadow:0 1px 2px -1px #00ced1, 0 1px 2px 0 #00ced1, 0 3px 2px -2px #00ced1;box-shadow:0 1px 2px -1px rgba(0, 206, 209, 0.42), 0 1px 2px 0 rgba(0, 206, 209, 0.12), 0 3px 2px -2px rgba(0, 206, 209, 0.2);}
.navbar-nav > li > a, .navbar-brand{color:#fff;transition:all 0.3s ease-out 0s;}
.navbar-nav > li > a:hover, .navbar-brand:hover, .nav > li > a:hover, .nav > li > a:focus{border-color:#81a066;background-color:#81a066;color:#fff;}
.navbar-brand{padding:10px 15px 5px 15px;}
.nav-tabs{padding:0;}
.nav-tabs > li{float:right;}
.nav-tabs > li > a{color:#555;font-size:12px;transition:all 0.3s ease-out 0s;}
.navbar-toggle .icon-bar{background-color:#fff}
.pagination > li > a,
.pagination > li > span{color:#81a066 !important;margin-left:3px;}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus{background-color:#81a066 !important;border-color:#81a066 !important;color:#fff !important;}
.banner{background-color:#eee;border-radius:5px;height:100px;margin-bottom:10px;}
.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child){border-radius:4px 0 0 4px;}
.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle){border-radius:0 4px 4px 0;}
aside.sidebar{width:26%;float:right;padding:5px;}
.page-body{width:73%;float:left;padding:5px;}
footer{clear:both;background-color:#455438;color:#ccc;padding:10px;min-height:100px;margin-top:10px;font-size:12px;text-align:center}
footer p{text-align:center;margin-top:10px;}
footer a{color:#ccc;text-decoration:none;}
footer a:hover{color:#ADD988;text-decoration:none;}
.box{background-color:#eee;border-radius:5px;box-shadow:1px 1px 2px #ccc;padding:5px;margin-bottom:10px;clear:both;display:flex;flex-direction:column;}
.box .header{border-bottom:1px solid #ccc;color:#555;padding-bottom:15px;}
.box .body{margin-top:10px;clear:both;}
.page-title{font-size:16px;color:#5c7051;border-right:3px double #ccc;border-bottom:3px double #ccc;border-radius:5px;padding:10px;}
#main-cats li{list-style-type:none;}
ul#main-cats{padding-right:10px;}
ul#main-cats ul{padding-right:0;border-right:1px solid #ccc;list-style:outside none none;margin-bottom:0;margin-right:0;margin-top:7px;}
ul#main-cats li ul li{line-height:15px;padding-right:17px;position:relative;}
ul#main-cats li ul li:before{background-color:#ccc;content:"";height:1px;position:absolute;right:0;top:12px;width:11px;}
ul#main-cats li ul li.active:before{background-color:#81a066;}
ul#main-cats li a{width:100%;padding:5px;text-decoration:none;display:block;transition:all 0.3s ease-out 0s;font-size:12px;color:#555;}
ul#main-cats li a i.fa{font-size:9px;color:#ccc;}
#main-cats li:hover > a{color:#81a066;}
#main-cats li.active > a{color:#81a066;}
ul#main-cats li.active > a i.fa{color:#81a066;}
.breadcrumb{background-color:#eee;}
.breadcrumb li a{text-decoration:none;color:#555;font-size:10px;}
.breadcrumb li a:hover{color:#6c8952;}
.article-list{}
.article-item{border-radius:5px;min-height:350px;max-height:350px;width:32%;margin-left:10px;float:right;background-color:#eee;margin-bottom:10px;position:relative;box-shadow:1px 1px 2px #ccc;padding:5px;}
.article-item:hover{box-shadow:1px 1px 5px #ADD988;border:1px solid #00ced1;}
.article-img{width:100%;height:210px;background-color:#efefef;text-align:center;font-size:8px;}
.article-img img{width:200px;height:200px;margin:5px auto;border-radius:5px;}
.article-title{}
.article-title h3{text-align:center;font-size:14px;height:80px;}
.article-title h3 a{color:#333;text-decoration:none;}
.article-title h3 a:hover{color:#6c8952;}
.article-desc{font-size:10px;text-align:center;}
.article-link{border-color:#ADD988;background-color:#ADD988;position:absolute;bottom:5px;left:5px;font-size:12px;font-family:"Yekan", "Vazir";color:#006400;transition:all 0.3s ease-out 0s;}
.article-link:hover{border-color:#81a066;background-color:#81a066;}
.image-list{text-align:center;margin-bottom:10px;}
.image-list .image-item{width:100px;height:auto;border-radius:5px;margin-left:5px;}
.image-list .image-item img{width:100px;height:auto;border-radius:5px;margin-left:5px;}
.article{margin-top:10px;margin-bottom:10px;background-color:#eee;border-radius:5px;padding:10px;box-shadow:1px 1px 2px #ccc;}
h1.article-title{background-color:#e3efd7;border-radius:5px;padding:10px;font-size:18px;color:#647a50;margin-bottom:10px;text-align:center;}
.artcil-fulldesc{background-color:#eee;border-radius:5px;padding:5px;margin-top:10px;}
.article-download{border-color:#81a066;background-color:#81a066;color:#e3efd7;margin-top:10px;transition:all 0.3s ease-out 0s;}
.article-download:hover{border-color:#81a066;background-color:#e3efd7;color:#81a066;}
.article-cat{font-size:10px;}
.label.label-tag{color:#666;background-color:#ddd;border:1px solid #81a066;margin-bottom:10px;display:inline-block;padding:8px 5px;}
.label.label-tag:hover{color:#81a066;background-color:#ccc;}
.similar-article{}
.similar-article .article-item{width:15.45%;max-height:220px;min-height:220px;}
.similar-article .article-item .article-title h3{font-size:13px;line-height:16px;}
.similar-article .article-item .article-img{height:85px;font-size:8px;}
.similar-article .article-item .article-img img{width:80px;height:80px;}
.similar-article .article-item .article-link{display:none;}
.favorite-article ul{padding-right:0;}
.favorite-article .article-item{width:100%;max-height:70px;min-height:70px;overflow:hidden;background-color:transparent;box-shadow:none;border-bottom:1px dotted #c7c7c7;border-radius:0;padding:0;}
.favorite-article .article-item:hover{border-width:0;border-bottom:1px dotted #c7c7c7;}
.favorite-article .article-item:hover a{color:#81a066;}
.favorite-article .article-item a{color:#555;text-decoration:none;}
.favorite-article .article-item .article-title{text-align:right;font-size:12px;line-height:16px;margin-top:10px;}
.favorite-article .article-item .article-img{height:65px;width:65px;float:right;font-size:8px;}
.favorite-article .article-item .article-img img{width:50px;height:50px;}
.favorite-article ul li:last-child{border-bottom-width:0;}
.article_link{display:inline-block;margin-bottom:5px;width:100%;padding:5px;font-size:13px;}
.article_link .previous, .article_link .next{color:#999;float:left;height:39px;padding:8px 15px;position:relative;text-align:left;transition:all 0.3s ease-out 0s;width:30%;}
.article_link .next{float:right;text-align:right;}
.article_link .previous a{color:#999;display:block;height:54px;left:0;line-height:77px;overflow:hidden;position:absolute;text-overflow:ellipsis;top:0;white-space:nowrap;width:100%;}
.article_link .next a{color:#999;display:block;height:55px;line-height:79px;overflow:hidden;position:absolute;right:0;text-indent:15px;text-overflow:ellipsis;top:0;white-space:nowrap;width:100%;}
.article_link .previous span, .article_link .next span{color:#666;display:block;font-size:12px;}
.article_link a{text-decoration:none;color:#555;transition:all 0.3s ease-out 0s;}
.article_link a:hover{text-decoration:none;color:#81a066;}
#newComment{padding:20px;margin:20px;border:1px solid #ccc}
.comment{background:#f7f7f7;border-radius:3px;padding:5px;margin-bottom:5px;}
.comment:last-child{margin:0;}
.vcard{height:33px;margin:0 3px;border-bottom:1px dashed #f0f0f0;}
.cm-meta{float:right;}
.vcard .fn{float:right;font:bold 11px/27px "Vazir";color:#666;}
.vcard .fn::before{content:"\f118";font:normal normal normal 14px/1 FontAwesome;width:14px;height:14px;float:right;margin:7px 4px 0 7px;}
.odd .vcard .fn::before{content:"\f112";}
.vcard .says{color:#B1B1B1;float:right;line-height:31px;margin-right:5px;font-size:10px;}
.vcard .reply{float:left;margin-top:3px;}
.comment .content{text-align:initial;padding:5px 5px 0;color:#777;}
.commentlist .depth-2, .commentlist .depth-3, .commentlist .depth-4, .commentlist .depth-5, .commentlist .depth-6, .commentlist .depth-7, .commentlist .depth-8, .commentlist .depth-9, .commentlist .depth-10{background:#fff;margin:10px;}
@media(max-width:1200px){.article-img img{width:200px;height:200px;}
.page-body{width:60%;}
aside.sidebar{width:40%;}
.article-item{width:48%;}
}
@media(max-width:1195px){.similar-article .article-item{width:19%;margin-left:5px;}
}
@media(max-width:1000px){.article-img img{width:150px;height:150px;}
.page-body{clear:both;width:100%;}
aside.sidebar{clear:both;width:100%;}
.article-item{width:31%;}
}
@media(max-width:815px){.article-img img{width:200px;height:200px;}
.article-item{width:48%;}
}
@media(max-width:665px){.similar-article .article-item{width:24%;}
.article_link .previous, .article_link .next{width:100%;margin-bottom:10px;}
}
@media(max-width:620px){ul.cat-col{width:50%;}
}
@media(max-width:570px){.similar-article .article-item{width:32%;}
}
@media(max-width:540px){.article-img img{width:200px;height:200px;}
.article-item{width:100%;}
}
@media(max-width:445px){.similar-article .article-item{width:48%;}
}
@media(max-width:340px){ul.cat-col{width:100%;}
}
@media(max-width:310px){.similar-article .article-item{width:100%;margin-left:0;}
}