.tp-caption.virber1 {
color:#ffffff;
background-color:transparent;
font-size:60px;
line-height:64px;
font-weight:300;
font-family:"Great Vibes",cursive;
text-decoration:none;
padding:1px 4px 0px 4px;
text-shadow:none;
margin:0px;
letter-spacing:0px;
border-width:0px;
border-color:rgb(57, 57, 57);
border-style:none;
}

.tp-caption.virbe2 {
color:#ffffff;
background-color:transparent;
font-size:30px;
line-height:36px;
font-weight:300;
font-family:"Great Vibes",cursive;
text-decoration:none;
padding:1px 4px 0px 4px;
text-shadow:none;
margin:0px;
letter-spacing:0px;
border-width:0px;
border-color:rgb(255, 255, 255);
border-style:none;
}

.tp-caption.Cuprum1 {
color:#ffffff;
background-color:rgb(50, 100, 143);
background-color:rgba(50, 100, 143, 0.7);
font-size:30px;
line-height:36px;
font-weight:300;
font-family:"Cuprum",cursive,sans-serif;
text-decoration:none;
padding:1px 4px 0px 4px;
text-shadow:none;
margin:0px;
letter-spacing:0px;
border-width:0px;
border-color:rgb(57, 57, 57);
border-style:none;
}

.tp-caption.PoiretOne1 {
color:#ffffff;
background-color:transparent;
font-size:120px;
line-height:144px;
font-weight:300;
font-family:"Poiret One";
text-decoration:none;
padding:1px 4px 0px 4px;
text-shadow:none;
margin:0px;
letter-spacing:0px;
border-width:0px;
border-color:rgb(255, 255, 255);
border-style:none;
}

.tp-caption.Poiretone2 {
color:#ffffff;
background-color:transparent;
font-size:30px;
line-height:36px;
font-weight:300;
font-family:"Poiret One";
text-decoration:none;
padding:1px 4px 0px 4px;
text-shadow:none;
margin:0px;
letter-spacing:0px;
border-width:0px;
border-color:rgb(57, 57, 57);
border-style:none;
}

.tp-caption.Cuprum2 {
color:#ffffff;
background-color:rgb(123, 105, 90);
background-color:rgba(123, 105, 90, 0.51);
font-size:30px;
line-height:35px;
font-weight:300;
font-family:Cuprum;
text-decoration:none;
padding:1px 4px 0px 4px;
text-shadow:none;
margin:0px;
letter-spacing:0px;
border-width:0px;
border-color:rgb(255, 255, 255);
border-style:none;
}

.tp-caption.Vibes4 {
color:#393939;
background-color:transparent;
font-size:60px;
line-height:70px;
font-weight:300;
font-family:"Great Vibes";
text-decoration:none;
padding:1px 4px 0px 4px;
text-shadow:none;
margin:0px;
letter-spacing:0px;
border-width:0px;
border-color:rgb(255, 255, 255);
border-style:none;
}

.tp-caption.Vibes2 {
color:#393939;
background-color:transparent;
font-size:30px;
line-height:36px;
font-weight:300;
font-family:"Great Vibes";
text-decoration:none;
padding:1px 4px 0px 4px;
text-shadow:none;
margin:0px;
letter-spacing:0px;
border-width:0px;
border-color:rgb(57, 57, 57);
border-style:none;
}

.tp-caption.Cuprum5 {
color:#ffffff;
background-color:rgb(133, 135, 133);
background-color:rgba(133, 135, 133, 0.7);
font-size:18px;
line-height:40px;
font-weight:300;
font-family:Cuprum;
text-decoration:none;
padding:1px 4px 0px 4px;
text-shadow:none;
margin:0px;
letter-spacing:0px;
width:100px;
border-width:0px;
border-color:rgb(57, 57, 57);
border-style:none;
}

.tp-caption.Cuprum5B {
color:#ffffff;
background-color:rgb(133, 135, 133);
background-color:rgba(133, 135, 133, 0.75);
font-size:18px;
line-height:41px;
font-weight:300;
font-family:Cuprum;
text-decoration:none;
padding:1px 4px 0px 4px;
text-shadow:none;
margin:0px;
letter-spacing:0px;
border-width:0px;
border-color:rgb(57, 57, 57);
border-style:none;
}

.tp-caption.Cuprum3 {
font-size:28px;
line-height:70px;
font-weight:300;
font-family:Cuprum;
color:rgb(255, 255, 255);
text-decoration:none;
background-color:transparent;
padding:1px 4px 0px;
text-shadow:none;
margin:0px;
letter-spacing:-1.5px;
border-width:0px;
border-color:rgb(255, 255, 255);
border-style:none;
}

.tp-caption.modern_medium_fat_white {
position:absolute;
color:#fff;
text-shadow:none;
font-weight:800;
font-size:24px;
line-height:20px;
font-family:"Open Sans", sans-serif;
margin:0px;
border-width:0px;
border-style:none;
white-space:nowrap;
}

