@import url(fontiran.css); /* áíä˜ ÝÇíáí ˜å æÙíÝå ÈÇÑÐÇÑí ÝæäÊ åÇ ÑÇ ÈÑÚåÏå ÏÇÑÏ */
.dima_wrapper {
	width: 100%;
	float:right;
	background:#FFF;
	margin-top:20px;
	margin-bottom:10px;
	box-shadow:0px 0px 10px -9px #000;
	}
.dima_1_1_wrapper {
	}
.dima_1_2_wrapper {
	}
.dima_1_3_wrapper {
	}
.dima_1_wrapper {
	background:#340400;
	color:#FFF;
	line-height:30px;
	text-align:center;
	}
.dima_2_1_wrapper {
	background:url(../images/boshehr.png) no-repeat bottom left;
	background-size:auto 100%;
	height:140px;
	text-align:center;
	}
.dima_2_1_wrapper .banneritem{
	margin:20px;
}
.dima_2_2_wrapper {
	height:140px;
	}
.dima_2_wrapper {
	background:#FF4433 url(../images/map.png) no-repeat top left;
	}
body .row-fluid [class*="span"].dima_3_1_wrapper {
	background:#ED8000;
	height:40px;
	min-width:4%;
	text-align:center;
	}
body .row-fluid [class*="span"].dima_3_1_wrapper img{
	width:20px;
	height:20px;
    padding:9px;
}
@media (min-width: 768px){
body .row-fluid [class*="span"].dima_3_1_wrapper {
	width:4%;
	}
}
body .row-fluid [class*="span"].dima_3_2_wrapper {
	background:#7C0A00;
	height:40px;
	}
body .row-fluid [class*="span"].dima_3_3_wrapper {
	height:40px;
	min-width:71%;
	}
.dima_3_wrapper {
	background:#A60D00;
	}
.dima_4_1_wrapper div.module{
	min-height:295px;
	line-height:160%;
    max-height: 293px;
	}
#dima_4_1{
	margin:5px;
}
#dima_4_2{
	margin:5px;
}
.dima_4_2_wrapper {
	}
.dima_4_wrapper {
	margin-bottom:10px;
	}
.dima_5_1_wrapper {
	}
#dima_5_1{
	margin:5px;
}
#dima_5_2{
	margin:5px;
}
#dima_5_3{
	margin:5px;
}
.newspaper{
	max-width:98%;
	padding:1%;
    padding-top:3px !important;
	background:#f3f3f3 none repeat scroll 0 0
	margin-bottom:5px;
    border:1px solid #ccc;
}
div.banneritem{
    text-align: center;
}

.dima_5_2_wrapper {
	}
.dima_5_3_wrapper {
	}
.dima_5_wrapper {
	margin-bottom:10px;
	}
.dima_6_1_wrapper ul{
	max-width:800px;
	margin:auto;
}
.dima_6_1_wrapper li{
	display:inline-table;
	padding-left:5px;
	padding-right:5px;
	line-height:16px;
	margin-top:5px;
	border-left:1px solid #CCC;
	}
.dima_6_wrapper {
	background:#E6E6E6;
	font-size:11px;
	text-align:center;
	}
.dima_7_1_wrapper {
	}
.dima_7_wrapper {
	background:#B4B4B4;
	}
.clear { clear:both;font-size:0px; }
#sidebar{
	margin:5px;
}
header{
	float:right;
	width:100%;
	z-index:10000;
}
header nav {
	text-align: right;
}
header nav ul {
	margin: 0;
	padding:0;
	list-style-type: none;
    position: relative;
	z-index:10000;
	}
header nav ul.menu > li {
    position: relative;
	padding-left:0.5%;
	padding-right:0.5%;
	border-radius:0px;
	height:40px;
	line-height:40px;
	float:right;
}
header nav ul li:hover{
	background:#CACACC;
}
header nav ul li.active{
	background:#8A0B00;
}
header nav ul li:first-child {
	margin-right: 0;
}
header nav ul.menu > li > ul {
    position: absolute;
    list-style: none;
	width:180px;
	height:auto;
	text-align:right;
	padding:0px;
	margin:0px;
	right:0px;
	display:none;
}
header nav ul.menu > li > ul > li > ul{
    position: absolute;
	right:170px;
	width:180px;
	margin-top:-30px;
	display:none;
}
header nav ul.menu > li > ul > li:hover > ul{
	display:block;
}
header nav ul li:hover ul{
	display:block;
}
header nav ul li ul li{
	display:block;
	background:#333333;
	height:30px;
	line-height:30px;
	padding:4px;
	margin:0px;
}
header nav ul li ul li:first-child{
	border-top-left-radius:0px;
	border-top-right-radius:0px;
}
header nav ul li ul li:last-child{
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
}
header nav li a {
	color: #FFFFFF;
	text-decoration:none;
	display:inline-table;
}
header nav li li a {
	color: #FFFFFF;
	text-decoration:none;
	display:inline-table;
}
header nav li a:hover {
	color: #FFFFFF;
}
header nav li li  a:hover {
	color: #FFFFFF;
}
header nav a, header nav a:hover {
	-o-transition: color 0.25s ease-in;
	-webkit-transition: color 0.25s ease-in;
	-moz-transition: color 0.25s ease-in;
	transition: color 0.25s ease-in;
}
section, article, header {
	display: block;
	float: right;
	width: 100%;
}
/*! #######################################################################

	MeanMenu 2.0.6
	--------
	
	To be used with jquery.meanmenu.js by Chris Wharton (http://www.meanthemes.com/plugins/meanmenu/)

####################################################################### */

/* hide the link until viewport size is reached */
a.meanmenu-reveal {
	display: none;
}

/* when under viewport size, .mean-container is added to body */
.mean-container .mean-bar {
	float: right;
	width: 100%;
	position: relative;
	background: #333333;
	padding: 4px 0;
	min-height: 42px;
	z-index: 999999;
}

.mean-container a.meanmenu-reveal {
	width: 22px;
	height: 22px;
	padding: 13px 13px 11px 13px;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	text-indent: -9999em;
	line-height: 22px;
	font-size: 1px;
	display: block;
	font-family: Tahoma;
	font-weight: 700;
}

.mean-container a.meanmenu-reveal span {
	display: block;
	background: #fff;
	height: 3px;
	margin-top: 3px;
}

.mean-container .mean-nav {
	float: right;
	width: 100%;
	background: #333333;
	margin-top: 44px;
}

.mean-container .mean-nav ul {
	padding: 0;
	margin: 0;
	width: 100%;
	list-style-type: none;
}

.mean-container .mean-nav ul li {
	position: relative;
	float: right;
	width: 100%;
}

.mean-container .mean-nav ul li a {
	display: block;
	float: right;
	width: 90%;
	padding: 1em 5%;
	margin: 0;
	text-align: right;
	color: #fff;
	border-top: 1px solid #383838;
	border-top: 1px solid rgba(255,255,255,0.5);
	text-decoration: none;
}

.mean-container .mean-nav ul li li a {
	width: 80%;
	padding: 1em 10%;
	border-top: 1px solid #f1f1f1;
	border-top: 1px solid rgba(255,255,255,0.25);
	opacity: 0.75;

	filter: alpha(opacity=75);
	text-shadow: none !important;
	visibility: visible;
}

.mean-container .mean-nav ul li.mean-last a {
	border-bottom: none;
	margin-bottom: 0;
}

.mean-container .mean-nav ul li li li a {
	width: 70%;
	padding: 1em 15%;
}

.mean-container .mean-nav ul li li li li a {
	width: 60%;
	padding: 1em 20%;
}

.mean-container .mean-nav ul li li li li li a {
	width: 50%;
	padding: 1em 25%;
}

.mean-container .mean-nav ul li a:hover {
	background: #252525;
	background: rgba(255,255,255,0.1);
}

.mean-container .mean-nav ul li a.mean-expand {
	margin-top: 1px;
	width: 26px;
	height: 24px;
	padding: 12px !important;
	text-align: center;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	font-weight: 700;
	background: rgba(255,255,255,0.1);
	border: none !important;
	border-right: 1px solid rgba(255,255,255,0.4) !important;
	border-bottom: 1px solid rgba(255,255,255,0.2) !important;
}

.mean-container .mean-nav ul li a.mean-expand:hover {
	background: rgba(0,0,0,0.9);
}

.mean-container .mean-push {
	float: right;
	width: 100%;
	padding: 0;
	margin: 0;
	clear: both;
}

.mean-nav .wrapper {
	width: 100%;
	padding: 0;
	margin: 0;
}

/* Fix for box sizing on Foundation Framework etc. */
.mean-container .mean-bar, .mean-container .mean-bar * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}


.mean-remove {
	display: none !important;
}
div.module ul.menu li{
	float:right;
	width:96%;
	padding:1%;
	margin:1%;
	background:#F7EBD3;
	border:1px solid #ECD6A7;
	border-radius:6px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
div.module ul.menu li:hover{
	background:#ECD6A7;
	border:1px solid #F7EBD3;
}
div.module ul.menu li li{
	background:#F8F3DF;
	border:1px solid #FFF;
}
div.module ul.menu li a{
	display:block;
}
div.module ul.menu li ul{
	display:none;
	height:0px;
}
div.module ul.menu li:hover > ul{
	display:block;
}

div.module{
	background:#F9F9F9;
	border-radius:0px;
	margin-bottom:5px;
	overflow:hidden;
	min-height:100px;
	float:right;
	width:100%;
}
div.module > div{
	padding:5px;
}
div.module h3{
	background:url(../images/map.png) no-repeat top right #A60D00;
	height:33px;
	line-height:33px;
	padding:0px;
	margin:-5px;
	margin-bottom:5px;
	padding-right:10px;
	font-size:14px;
	font-weight:normal;
	color:#FFF;
}
.logo{
	float:right;
	text-align:center;
	background:url(../images/bac_logo.png) no-repeat top right;
	background-size:100% 100%;
	padding:10px;
	margin:10px;
	margin-right:0px;
	padding-left:50px;
}
.searchmod{
	float:right;
	width:94%;
	margin:3%;
}
.searchmod input[type="search"]{
	padding:0px;
	margin:0px;
	float:right;
	width:80%;
	font-size:12px;
	height:25px;
	line-height:25px;
	font-family:Tahoma, Geneva, sans-serif;
	padding-right:1%;
	background:#630800;
	border:none;
	box-shadow:none;
	color:#FFF;
}
.searchmod button.button{
	padding:0px;
	margin:0px;
	float:right;
	font-family:Tahoma, Geneva, sans-serif;
	width:20%;
	font-size:0px;
	height:25px;
	line-height:25px;
	background:url(../images/search.png) no-repeat center center #630800;
	border:none;
	box-shadow:none;
}

div.footer{
}
.copyright{
	float:right;
}
.copyright a{
}
.social{
	float:left;
}
.social ul, .social ul li{
	float:left;
}
.social ul li a{
	float:left;
	margin:3px;
	width:16px;
	height:16px;
	border-radius:00px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.social ul li a:hover{
	color:#C30;
}
#back-top {
	position: fixed;
	bottom: 30px;
	right:10px;
}
#back-top a {
	width: 48px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #333333;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
	font-size:10px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#back-top a:hover {
	color: #333333;
}
/* arrow icon (span tag) */
#back-top span {
	width: 48px;
	height: 48px;
	display: block;
	margin-bottom: 7px;
	background:#333333;
	/* rounded corners */
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
	font-size:22px;
	color:#FFF;
	line-height:48px;
	opacity:0.7;
}
#back-top a:hover span {
	background-color: #777;
}
