html,
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
}


.button {
    position: relative;
    overflow: hidden;
    width: 156px;
    height: 48px;
    line-height: 48px;
    background: #F82324;
    color: #fff;
    border: 1px solid #D00001;
    cursor: pointer;
    text-align: center;
    font-size: 22px;
    text-decoration: none;
}

.button:hover {
    background: #fff;
    color: #F82324;
}

.main {
    max-width: 940px;
    margin: 0 auto;
    margin-top: 40px;
}

.web_title {
    font-weight: 400;
    color: #747474;
}

.web_title-desc {
    color: #747474;
    margin-bottom: 30px;
}


.web_title-desc span {
    color: #000;
    font-weight: 600;
    line-height: 1.4;
}

.web_img {
    width: 450px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer_img {
    width: 190px;
}

.container {
    margin-bottom: 40px;
}