@charset "UTF-8";
/*-------------------------------------------------------------------------
 Setting Import
--------------------------------------------------------------------------*/
@media screen and (max-width: 640px) {
    /*------------------------------------------------------------------------*/
    /*-------------------------------------------------------------------------
      OnMediaQuery Setting (*** For Small Device ***)
    --------------------------------------------------------------------------*/
    html {
        font-family: 'mobile';
    }

    body:after {
        content: 'mobile';
    }

    /*-------------------------------------------------------------------------
      Global Settings (*** For Small Device ***)
    --------------------------------------------------------------------------*/
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    body {
        padding: 0 10px;
        -webkit-text-size-adjust: 100%;
        min-width: 100%;
    }

    form {
        overflow: hidden;
    }

    /* Noscript
    --------------------------------------------------------------------------*/
    .ns-attention {
        margin: 0 -10px;
    }
    .ns-attention p {
        text-align: left;
        line-height: 1.2;
    }

    /*-------------------------------------------------------------------------
      Extend Style
    --------------------------------------------------------------------------*/
    .gl-subnav ul, .gl-spmenu-head, .row, .pagetop, .nsa-login-box, .nsa-login-box02, .nsa-login-box03, .bnr155, .bnr155-left, .menu-block figure {
        *zoom: 1;
    }
    .gl-subnav ul:before, .gl-spmenu-head:before, .row:before, .pagetop:before, .nsa-login-box:before, .nsa-login-box02:before, .nsa-login-box03:before, .bnr155:before, .bnr155-left:before, .menu-block figure:before, .gl-subnav ul:after, .gl-spmenu-head:after, .row:after, .pagetop:after, .nsa-login-box:after, .nsa-login-box02:after, .nsa-login-box03:after, .bnr155:after, .bnr155-left:after, .menu-block figure:after {
        content: "";
        display: table;
    }
    .gl-subnav ul:after, .gl-spmenu-head:after, .row:after, .pagetop:after, .nsa-login-box:after, .nsa-login-box02:after, .nsa-login-box03:after, .bnr155:after, .bnr155-left:after, .menu-block figure:after {
        clear: both;
    }

    .hd-spmenu-btn, .hd-spmenu-en-btn, .pagetop a, .nsalogo,
    .nsalogo-wide, .bnr-related-site li a {
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
    }

    .hd-utility li a, .gl-nav li a, .gl-nav li .gl-active, .sub-banner li a, .sub-banner2 li a, .sub-banner3 li a, .sub-utility a, .sub-banner-personal a, .sub-banner-financial li a, .rep-bnr dl dt, .rep-bnr dl dd {
        overflow: visible;
        text-indent: 0;
        white-space: normal;
    }

    /*-------------------------------------------------------------------------
      Layout Style (*** For Small Device ***)
    --------------------------------------------------------------------------*/
    .main {
        width: 100%;
        float: none;
    }

    .expand {
        width: 100%;
        /*For OneColumn*/
    }

    .sub {
        float: none;
        width: 100%;
    }

    .contents {
        margin-bottom: 0;
    }

    .container {
        width: 100%;
        margin: 0;
    }

    section, .section-like {
        margin-bottom: 1em;
    }

    .section-like .list-icon-down-arrow {
        margin-bottom: 0;
    }

    .main-img-area {
        margin: 0 -10px 1em;
    }

    .clause {
        margin-bottom: 1em;
    }
    .clause .list-icon-down-arrow {
        margin-bottom: 0;
    }

    .not-expand {
        padding: 0 10px;
    }

    /*-------------------------------------------------------------------------
      Header Style (*** For Small Device ***)
    --------------------------------------------------------------------------*/
    header {
        width: auto;
        height: 50px;
        margin: 0 -10px;
        padding: 0 10px;
        background: transparent url(http://www.aplvs.com/shared/img/bg/sd-hd-bg.png) no-repeat 0 0;
    }

    header .container {
        position: inherit;
        width: auto;
        height: auto;
    }

    /* Header Logo
    --------------------------------------------------------------------------*/
    /* Official */
    .hd-logo {
        width: 91px;
        height: 39px;
        position: inherit;
        display: block;
        background: transparent url(http://www.aplvs.com/shared/img/bg/hd-logo-sd.png) no-repeat 0 0;
        background-size: 91px 39px;
        float: left;
        margin-top: 12px;
    }

    /* PersonalLoan */
    .hd-logo.hd-personal {
        background: transparent url(http://www.aplvs.com/shared/img/bg/hd-logo-sd-loan.png) no-repeat 0 0;
        background-size: 208px 45px;
        width: 208px;
        height: 45px;
    }

    /* Financial */
    .hd-logo.hd-financial {
        background: transparent url(http://www.aplvs.com/shared/img/bg/hd-logo-sd-financial.png) no-repeat 0 0;
        background-size: 190px 45px;
        width: 190px;
        height: 45px;
    }

    /* Financial en */
    .hd-logo.hd-financial-en {
        background: transparent url(http://www.aplvs.com/shared/img/bg/hd-logo-sd-financial-en.png) no-repeat 0 0;
        background-size: 190px 42px;
        width: 190px;
        height: 42px;
    }

    /* Header Utility Menu
    --------------------------------------------------------------------------*/
    .hd-utility {
        float: right;
        margin: 0;
        position: inherit;
    }
    .hd-utility li a {
        background-image: none;
        display: inherit;
    }
    .hd-utility li .hd-lost {
        height: auto;
        margin: 0.8em 1.5em 0 0;
        width: auto;
        color: #F00;
        text-decoration: none;
    }
    .hd-utility li .hd-lost span {
        display: none;
    }
    .hd-utility li .hd-lost:hover {
        text-decoration: underline;
    }
    .hd-utility li .hd-lost:before {
        content: "";
        width: 6px;
        height: 7px;
        display: inline-block;
        background: transparent url(http://www.aplvs.com/shared/img/bg/sd-red-arrow.png) no-repeat 0 0;
        margin: -2px 5px 0 0;
        vertical-align: middle;
    }

    /* Header Category Label
    --------------------------------------------------------------------------*/
    /* Header Google SiteSearch
    --------------------------------------------------------------------------*/
    /* Header Small Device Menu Button
    --------------------------------------------------------------------------*/
    .hd-spmenu-btn, .hd-spmenu-en-btn {
        width: 90px;
        height: 37px;
        display: block;
        margin: 2px 0 0 0;
        cursor: pointer;
        background: transparent url(http://www.aplvs.com/shared/img/bg/sd-menu-btn.png) no-repeat 0 0;
        background-size: 90px 74px;
    }

    .hd-spmenu-en-btn {
        background: transparent url(http://www.aplvs.com/shared/img/bg/sd-menu-en-btn.png) no-repeat 0 0;
        background-size: 90px 74px;
    }

    /*-------------------------------------------------------------------------
      GlobalNavigation (*** For Small Device ***)
    --------------------------------------------------------------------------*/
    .global {
        display: none;
        background: none;
        width: auto;
        margin: 0 -10px;
    }
    .global ul li .gl-subnav {
        display: block;
    }

    .gl-nav {
        background-color: transparent;
        height: auto;
        margin: 0;
        padding: 0;
        width: 100%;
        border-bottom: solid 1px #CCC;
        position:relative;
        z-index: 10;
    }
    .gl-nav li {
        float: none;
        margin: 0;
    }
    .gl-nav li a, .gl-nav li .gl-active {
        font-size: 16px;
        font-size: 1.6rem;
        display: block;
        height: auto;
        border-top: solid 1px #CCC;
        padding: 15px;
        padding-right: 25px;
        color: #333;
        text-decoration: none;
        background: #eeebe2 url(http://www.aplvs.com/shared/img/bg/sd-arrow-bg.png) no-repeat 98% 50%;
    }
    .gl-nav li a:hover, .gl-nav li .gl-active:hover {
        background: #dddddd url(http://www.aplvs.com/shared/img/bg/sd-arrow-bg.png) no-repeat 98% 50%;
    }

    /* GlobalNavigation Common Style
    --------------------------------------------------------------------------*/
    .gl-individual a, .gl-corporate a, .gl-insurance a, .gl-personalloan a, .gl-financial a, .gl-financial-en a {
        background-image: none;
        width: 100%;
    }

    /* GlobalNavigation Right End Item
    --------------------------------------------------------------------------*/
    .gl-individual > li:last-child, .gl-corporate > li:last-child {
        display: none;
    }

    /* GlobalNavigation Under SubMenu
    --------------------------------------------------------------------------*/
    .gl-subnav {
        background-image: none;
        padding: 0;
    }
    .gl-subnav ul {
        margin: 0 auto;
        padding-left: 0;
        width: 100%;
    }
    .gl-subnav ul li {
        display: inherit;
        background-image: none;
        margin: 0;
        padding: 0;
    }
    .gl-subnav ul li a, .gl-subnav ul li .gl-sub-active {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        border-radius: 0;
        width: 100%;
        font-size: 14px;
        font-size: 1.4rem;
        color: #333;
        line-height: 1.5;
        padding: 15px;
        padding-right: 25px;
        text-decoration: none;
        border-bottom: none;
        background-color: #FFF;
    }
    .gl-subnav ul li a:hover, .gl-subnav ul li .gl-sub-active:hover {
        background-color: #eee;
    }
    .gl-subnav ul li a.gl-sub-active, .gl-subnav ul li .gl-sub-active.gl-sub-active {
        background-color: #FFF;
    }
    .gl-subnav ul li a.gl-sub-active:hover, .gl-subnav ul li .gl-sub-active.gl-sub-active:hover {
        background-color: #eee;
    }

    /* Small Device　Menu
    --------------------------------------------------------------------------*/
    .gl-spmenu-head,
    .gl-spmenu-foot {
        background-color: #333;
    }

    .close-btn {
        border: solid 1px #FFF;
        padding: 0.7em 1.4em;
        color: #FFF;
        display: block;
        cursor: pointer;
    }

    .gl-spmenu-head {
        padding: 0.5em;
    }
    .gl-spmenu-head h2 {
        color: #FFF;
        font-size: 16px;
        font-size: 1.6rem;
        float: left;
        line-height: 2.2;
        margin-left: 0.5em;
    }
    .gl-spmenu-head .close-btn {
        float: right;
    }

    .gl-spmenu-foot {
        padding: 1.5em;
        text-align: center;
    }
    .gl-spmenu-foot .close-btn {
        display: inline-block;
    }

    .sd-en-menu {
        display: block;
    }

    .gl-nav.sd-en-menu a {
        border-top: none;
    }
    .gl-nav.sd-en-menu li {
        border-bottom: solid 1px #CCC;
    }
    .gl-nav.sd-en-menu li:last-child {
        border-bottom: none;
    }

    /*-------------------------------------------------------------------------
      TopicPath (*** For Small Device ***)
    --------------------------------------------------------------------------*/
    .topic-path {
        display: none;
    }

    /*-------------------------------------------------------------------------
      Footer Style (*** For Small Device ***)
    --------------------------------------------------------------------------*/
    footer {
        border-top: none;
    }

    /* Group Footer
    --------------------------------------------------------------------------*/
    .ft-group {
        display: none;
    }

    /* Footer Utility
    --------------------------------------------------------------------------*/
    .ft-utility {
        width: 100%;
        margin: 0 0 1em 0;
        font-size: 14px;
        font-size: 1.4rem;
    }
    .ft-utility li {
        background: none;
        display: inherit;
        margin: 0 -10px;
        padding: 0;
        line-height: 1;
    }
    .ft-utility li:last-child {
        border-bottom: solid 1px #ddd;
    }
    .ft-utility li a {
        display: block;
        padding: 1em;
        border-top: solid 1px #ddd;
        border-bottom: none;
        text-decoration: none;
        background: #eeeeee url(http://www.aplvs.com/shared/img/bg/sd-arrow-bg.png) no-repeat 98% 50%;
    }
    .ft-utility li a:hover {
        background-color: #ddd;
    }

    /* Copyright
    --------------------------------------------------------------------------*/
    .ft-copy {
        width: 100%;
        margin: 0;
    }
    .ft-copy span {
        display: block;
    }

    .ft-copy-small {
        font-size: 10px;
        font-size: 1rem;
    }

    /* SD Utility
    --------------------------------------------------------------------------*/
    .sd-utility-area {
        margin: 0 -10px;
    }
    .sd-utility-area p, .sd-utility-area ul {
        margin: 0;
    }
    .sd-utility-area form {
        padding: 1em;
        background: #eee;
    }
    .sd-utility-area form input[type="text"] {
        width: 78%;
        padding: 0.8em;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px;
        border: solid 1px #999;
    }
    .sd-utility-area form input[type="submit"] {
        width: 20%;
        padding: 0.8em;
        float: right;
        border: solid 1px #999;
        background: #ccc;
        background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
        background: -webkit-linear-gradient(#ffffff, #cccccc);
        background: -moz-linear-gradient(#ffffff, #cccccc);
        background: linear-gradient(#ffffff, #cccccc);
        cursor: pointer;
        letter-spacing: 0.3em;
        text-shadow: 1px 1px 1px white;
        -webkit-appearance: none;
    }
    .sd-utility-area form input.en-title {
        padding: 0.8em 0.2em;
        letter-spacing: 0;
    }

    .sd-utility {
        border-bottom: solid 1px #ddd;
    }
    .sd-utility li a {
        padding: 1em;
        color: #007fcb;
        font-size: 14px;
        font-size: 1.4rem;
        border-top: solid 1px #ddd;
        display: block;
        text-decoration: none;
        background: #eeeeee url(http://www.aplvs.com/shared/img/bg/sd-arrow-bg.png) no-repeat 98% 50%;
    }
    .sd-utility li a:hover {
        color: #26aeff;
        background-color: #ddd;
    }
    .sd-utility li ul li a {
        padding: 1em;
        color: #007fcb;
        font-size: 14px;
        font-size: 1.4rem;
        border-top: solid 1px #ddd;
        border-bottom: none;
        text-decoration: none;
        background: #eeeeee url(http://www.aplvs.com/shared/img/bg/sd-arrow-bg.png) no-repeat 98% 50%;
    }
    .sd-utility li ul li a:hover {
        color: #26aeff;
        background-color: #ddd;
    }

    .sd-utility-pf {
        border-bottom: solid 1px #ddd;
    }
    .sd-utility-pf li a {
        padding: 1em;
        display: block;
        color: #007fcb;
        font-size: 14px;
        font-size: 1.4rem;
        border-top: solid 1px #ddd;
        border-bottom: none;
        text-decoration: none;
        background: #eeeeee url(http://www.aplvs.com/shared/img/bg/sd-arrow-bg.png) no-repeat 98% 50%;
    }
    .sd-utility-pf li a:hover {
        color: #26aeff;
        background-color: #ddd;
    }

    /*-------------------------------------------------------------------------
      SubStyle (*** For Small Device ***) 　　　　　　　　　　　　　　　★sort
    --------------------------------------------------------------------------*/
    /*  LocalNavigation
    --------------------------------------------------------------------------*/
    .local-nav {
        border: none;
        border-bottom: solid 1px #ddd;
        margin: 0 -10px 1.5em;
    }
    .local-nav ul {
        display: none;
    }
    .local-nav li {
        border: none;
    }
    .local-nav li a {
        background: transparent url(http://www.aplvs.com/shared/img/bg/sd-arrow-bg.png) no-repeat 98% 50%;
        border-top: solid 1px #ddd;
        color: #333;
        color: #007fcb;
        display: block;
        font-size: 14px;
        font-size: 1.4rem;
        padding: 15px 20px 15px 15px;
        text-decoration: none;
    }
    .local-nav li a.lc-active {
        background-color: transparent;
    }
    .local-nav li a:hover {
        background-color: #ddd;
        color: #26aeff;
    }

    /*  LoginBox
    --------------------------------------------------------------------------*/
    .login-box {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        border-radius: 0;
    }
    .login-box p {
        font-size: 14px;
        font-size: 1.4rem;
    }

    .login-btn {
        background-color: #957114;
        background: -webkit-linear-gradient(bottom, #957114, #c7a54d);
        background: -moz-linear-gradient(bottom, #957114, #c7a54d);
        background: -o-linear-gradient(bottom, #957114, #c7a54d);
        background: linear-gradient(to top, #957114, #c7a54d);
        color: #FFF;
        cursor: pointer;
        font-size: 18px;
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 0.3em;
        padding: 15px 13px;
    }
    .login-btn:hover {
        background-color: #c7a54d;
        background: -webkit-linear-gradient(top, #957114, #c7a54d);
        background: -moz-linear-gradient(top, #957114, #c7a54d);
        background: -o-linear-gradient(top, #957114, #c7a54d);
        background: linear-gradient(to bottom, #957114, #c7a54d);
    }
    .login-btn.sd-close-btn {
        background-color: #d0c8b3;
        background-image: none;
    }
    .login-btn.sd-close-btn:hover {
        opacity: 0.8;
    }

    .login-btn-ared {
        background-color: #fe1a0e;
        background: -webkit-linear-gradient(bottom, #fe1a0e, #fe7a73);
        background: -moz-linear-gradient(bottom, #fe1a0e, #fe7a73);
        background: -o-linear-gradient(bottom, #fe1a0e, #fe7a73);
        background: linear-gradient(to top, #fe1a0e, #fe7a73);
        color: #FFF;
        cursor: pointer;
        font-size: 18px;
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 0.3em;
        padding: 15px 13px;
    }
    .login-btn-ared:hover {
        background-color: #fe7a73;
        background: -webkit-linear-gradient(top, #fe1a0e, #fe7a73);
        background: -moz-linear-gradient(top, #fe1a0e, #fe7a73);
        background: -o-linear-gradient(top, #fe1a0e, #fe7a73);
        background: linear-gradient(to bottom, #fe1a0e, #fe7a73);
    }
    .login-btn-ared.sd-close-btn {
        background-color: #fac8c8;
        background-image: none;
    }
    .login-btn-ared.sd-close-btn:hover {
        opacity: 0.8;
    }

    /*  Aside(Banner and Utility) for Official Site
    --------------------------------------------------------------------------*/
    /* Banner Area */
    .sub-banner {
        margin: 0 -10px;
    }
    .sub-banner li a {
        background: transparent url(http://www.aplvs.com/shared/img/bg/sd-arrow-bg.png) no-repeat 98% 50%;
        border-top: solid 1px #ddd;
        margin-bottom: 0;
        padding: 15px;
        text-decoration: none;
        width: auto;
    }
    .sub-banner li a:hover {
        background: #dddddd url(http://www.aplvs.com/shared/img/bg/sd-arrow-bg.png) no-repeat 98% 50%;
        color: #26aeff;
        opacity: 1;
    }

    /*
    .sub-banner2 {
       margin: 0 -10px;
     }
     .sub-banner2 li a {
       background: transparent url(/shared/img/bg/sd-arrow-bg.png) no-repeat 98% 50%;
       border-top: solid 1px #ddd;
       margin-bottom: 0;
       padding: 15px;
       text-decoration: none;
       width: auto;
     }
     .sub-banner2 li a:hover {
       background: #dddddd url(/shared/img/bg/sd-arrow-bg.png) no-repeat 98% 50%;
       color: #26aeff;
       opacity: 1;
     }
   */

    .sub-banner3 {
        display:none;
        margin: 0 -10px;
    }

    /*
    .sub-banner3 li a {
      background: transparent url(/shared/img/bg/sd-arrow-bg.png) no-repeat 98% 50%;
      border-top: solid 1px #ddd;
      margin-bottom: 0;
      padding: 15px;
      text-decoration: none;
      width: auto;
    }
    .sub-banner3 li a:hover {
      background: #dddddd url(/shared/img/bg/sd-arrow-bg.png) no-repeat 98% 50%;
      color: #26aeff;
      opacity: 1;
    }
  */
    .sub-tpoint-bn,
    .sub-thanks-bn,
    .sub-cashing-bn,
    .sub-guide-bn,
    .sub-3dsecure-bn,
    .sub-anshin-bn,
    .sub-simulation-bn,
    .sub-revo-bn,
    .sub-atmdemo-bn,
    .sub-apple-pay-bn,
    .sub-nsa-bn,
    .sub-app-bn,
    .sub-gaica-bn,
    .sub-info-bn,
    .sub-info_home-bn,
    .sub-fukkou-bn,
    .sub-avatar-bn,
    .sub-biz-contact-bn,
    .sub-sim-kantan-bn,
    .sub-wechatp-bn,
    .sub-cab-bn,
    .sub-caranav-bn,
    .sub-ins-bn,
    .sub-appm-bn {
        background-image: none;
        height: auto;
    }

    .sub-appm-bn2 {
        height: auto;
    }

    .sub-appm-bn3 {
        background-image: none;
        height: 0px;
    }

    .sub-banner.banner-only {
        border-bottom: solid 1px #ddd;
        margin-bottom: 1em;
    }

    /*
      .sub-banner2.banner-only {
        border-bottom: solid 1px #ddd;
        margin-bottom: 1em;
      }
    */

    .sub-banner3.banner-only {
        border-bottom: solid 1px #ddd;
        margin-bottom: 1em;
    }

    /* Utility Area */
    .sub-utility {
        border-bottom: solid 1px #ddd;
        margin: 0 -10px 1em;
    }
    .sub-utility a {
        background: transparent url(http://www.aplvs.com/shared/img/bg/sd-arrow-bg.png) no-repeat 98% 50%;
        border-top: solid 1px #ddd;
        height: auto;
        padding: 15px;
        text-decoration: none;
        width: auto;
    }
    .sub-utility a:hover {
        background: #dddddd url(http://www.aplvs.com/shared/img/bg/sd-arrow-bg.png) no-repeat 98% 50%;
        color: #26aeff;
    }


    /*  Aside(Banner and Utility)　For Personal Loan Site
      --------------------------------------------------------------------------*/
    /* Banner Area */
    .sub-banner-personal {
        border-bottom: solid 1px #ddd;
        margin: 0 -10px 1em;
    }
    .sub-banner-personal a {
        background: transparent url(http://www.aplvs.com/shared/img/bg/sd-arrow-bg.png) no-repeat 98% 50%;
        border-top: solid 1px #ddd;
        height: auto;
        padding: 15px;
        text-decoration: none;
        width: auto;
        margin-bottom: 0;
    }
    .sub-banner-personal a:hover {
        background: #dddddd url(http://www.aplvs.com/shared/img/bg/sd-arrow-bg.png) no-repeat 98% 50%;
        color: #26aeff;
    }

    /*  Aside(Banner and Utility) for Financial Site
    --------------------------------------------------------------------------*/
    /* Banner Area */
    .sub-banner-financial {
        border-bottom: solid 1px #ddd;
        margin: 0 -10px 1em;
    }
    .sub-banner-financial li a {
        background: transparent url(http://www.aplvs.com/shared/img/bg/sd-arrow-bg.png) no-repeat 98% 50%;
        border-top: solid 1px #ddd;
        margin-bottom: 0;
        padding: 15px;
        text-decoration: none;
        width: auto;
    }
    .sub-banner-financial li a:hover {
        background: #dddddd url(http://www.aplvs.com/shared/img/bg/sd-arrow-bg.png) no-repeat 98% 50%;
        color: #26aeff;
        opacity: 1;
    }

    .sub-group-bn {
        background-image: none;
        height: auto;
    }

    /*-------------------------------------------------------------------------
      Title Style (*** For Small Device ***)
    --------------------------------------------------------------------------*/
    .title-lv1 {
        font-size: 20px;
        font-size: 2rem;
        padding-left: 10px;
        margin-left: -10px;
        margin-right: -10px;
    }

    .title-lv2 {
        font-size: 20px;
        font-size: 2rem;
    }

    .title-lv3 {
        font-size: 18px;
        font-size: 1.8rem;
    }

    .title-lv4 {
        font-size: 16px;
        font-size: 1.6rem;
    }

    .title-lv5 {
        font-size: 14px;
        font-size: 1.4rem;
    }

    .title-lv6 {
        font-size: 14px;
        font-size: 1.4rem;
    }

    /*-------------------------------------------------------------------------
      IconListStyle (*** For Small Device ***)
    --------------------------------------------------------------------------*/
    /* ListStyle
    --------------------------------------------------------------------------*/
    /* Horizontal */
    .horizontal li,
    .horizontal-wide li {
        float: none;
        margin-right: 0;
    }

    /* AnchorLink*/
    .anchor-link {
        background-color: #FFF;
        padding: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: auto;
        margin: 0 -10px 1em;
    }

    .list-icon-down-arrow {
        line-height: 1.5;
    }
    .list-icon-down-arrow a {
        text-decoration: none;
        color: #333;
        background: #eeebe2 url(http://www.aplvs.com/shared/img/bg/list-icon-down-arrow.png) no-repeat 1em 17px;
        float: none;
        margin: 0 0 1px 0;
        padding: 1em 1em 1em 2.5em;
        width: 100%;
        display: block;
    }
    .list-icon-down-arrow a:hover {
        background-color: #F8F5EC;
    }

    .icon-angle-dfn dt {
        margin: 0;
        float: none;
    }
    .icon-angle-dfn dd {
        overflow: hidden;
    }

    /* Image Icon
    --------------------------------------------------------------------------*/
    /* OpenClose icon */
    .icon-open {
        margin: 0 -5px 0 0;
        width: 16px;
        height: 16px;
        display: inline-block;
        vertical-align: bottom;
        background: transparent url(http://www.aplvs.com/shared/img/bg/icon-open-close.png) no-repeat 0 0;
    }

    .icon-close {
        margin: 0 -5px 0 0;
        width: 16px;
        height: 16px;
        display: inline-block;
        vertical-align: middle;
        background: transparent url(http://www.aplvs.com/shared/img/bg/icon-open-close.png) no-repeat 0 -16px;
    }

    /* Top SNS Icon
    --------------------------------------------------------------------------*/
    .icon-tw-sd {
        width: 24px;
        height: 19px;
        display: inline-block;
        margin: 3px 5px 0 0;
        vertical-align: middle;
        background: transparent url(http://www.aplvs.com/shared/img/bg/icon-tw-sd.png) no-repeat 0 0;
    }

    .icon-fb-sd {
        width: 21px;
        height: 21px;
        display: inline-block;
        margin: 0px 5px 0 0;
        vertical-align: middle;
        background: transparent url(http://www.aplvs.com/shared/img/bg/icon-fb-sd.png) no-repeat 0 0;
    }

    .icon-line-sd {
        width: 24px;
        height: 24px;
        display: inline-block;
        margin: 2px 5px 0 0;
        vertical-align: middle;
        background: transparent url(http://www.aplvs.com/shared/img/bg/icon-line-sd.png) no-repeat 0 0;
    }
    /*-------------------------------------------------------------------------
      BoxStyle
    --------------------------------------------------------------------------*/
    .box {
        margin-bottom: 1em;
    }

    .float-dfn {
        display: inherit;
    }
    .float-dfn dt {
        text-align: center;
        display: inherit;
    }
    .float-dfn dt img {
        margin: 0 0 1em;
    }
    .float-dfn dd {
        float: none;
        overflow: inherit;
        margin-left: 0;
    }

    /*-------------------------------------------------------------------------
      Column Styles (*** For Small Device ***)
    --------------------------------------------------------------------------*/
    .col-2 {
        width: 100%;
    }

    .col-3 {
        width: 100%;
    }

    .col-4 {
        width: 100%;
    }

    .col-5 {
        width: 100%;
    }

    .col-6 {
        width: 100%;
    }

    .col-7 {
        width: 100%;
    }

    .col-8 {
        width: 100%;
    }

    .col-9 {
        width: 100%;
    }

    .col-10 {
        width: 100%;
    }

    .col-11 {
        width: 100%;
    }

    .col-12 {
        width: 100%;
    }

    .col-13 {
        width: 100%;
    }

    .col-14 {
        width: 100%;
    }

    .col-15 {
        width: 100%;
    }

    .col-16 {
        width: 100%;
    }

    .row {
        margin-bottom: 1em;
    }
    .row > div {
        float: none;
        margin: 0 0 1em 0;
    }
    .row > div:last-child {
        margin-bottom: 0;
    }

    .col-5_5 {
        width: 100%;
    }

    .col-10_5 {
        width: 100%;
    }

    /*-------------------------------------------------------------------------
      Table Styles(Transform *** For Small Device ***)
    --------------------------------------------------------------------------*/
    /* Transform Table Base Style
    --------------------------------------------------------------------------*/
    .tbl-stack {
        border: none;
        margin-bottom: 1em;
        border-bottom: solid 1px #bbb;
    }
    .tbl-stack thead {
        display: none;
    }
    .tbl-stack tbody {
        display: block;
    }
    .tbl-stack tbody tr {
        display: block;
    }
    .tbl-stack th {
        border-bottom: none;
        padding: 15px 15px 14px;
    }
    .tbl-stack td {
        padding: 12px 12px 10px;
        border-bottom: none;
    }
    .tbl-stack tbody th, .tbl-stack tbody td, .tbl-stack tfoot th, .tbl-stack tfoot td {
        display: block;
        width: 100%;
    }

    /* Transform Table Horizontal Title Overwrite Style
    --------------------------------------------------------------------------*/
    .tbl-hzl td:before {
        background-color: #eeebe2;
        content: attr(data-title);
        display: block;
        width: 100%;
        border-bottom: solid 1px #bbb;
        margin: -12px 0 12px -12px;
        padding: 13px 12px 9px;
        text-align: center;
        font-weight: bold;
    }

    /* Transform Table Combination Overwrite Style
    --------------------------------------------------------------------------*/
    .tbl-comb th {
        text-align: center;
    }
    .tbl-comb td {
        display: table;
        padding: 0;
    }
    .tbl-comb td span {
        display: table-cell;
        background-color: #FFF;
        padding: 10px;
        border-left: solid 1px #bbb;
        vertical-align: middle;
    }
    .tbl-comb td:before {
        content: attr(data-title);
        background-color: #eeebe2;
        display: table-cell;
        width: 110px;
        padding: 10px;
        font-weight: bold;
        vertical-align: top;
    }

    /* Table inner Layout
    --------------------------------------------------------------------------*/
    .table-in dt {
        width: auto;
        float: none;
        clear: none;
        margin-bottom: 0;
    }
    .table-in dd {
        overflow: inherit;
        float: none;
        margin-left: 7em;
    }
    .table-in dd:before {
        content: ":";
        padding-right: 1em;
    }
    .table-in dd:last-child {
        margin-bottom: 0;
    }

    /*-------------------------------------------------------------------------
      Button Styles (*** For Small Device ***)
    --------------------------------------------------------------------------*/
    /* Size Style
    --------------------------------------------------------------------------*/
    .btn-textfit {
        width: 100%;
    }

    .btn-s {
        width: 100%;
    }

    .btn-m {
        width: 100%;
    }

    .btn-l {
        width: 100%;
    }

    .btn-xl {
        width: 100%;
    }

    .btn-xxl {
        width: 100%;
    }

    .btn-xxxl {
        width: 100%;
    }

    /* Ornament Style
    --------------------------------------------------------------------------*/
    .btn-arw-bk {
        background-position: 97% 50%,0 0;
        padding-left: 15px;
        padding-right: 25px;
        color: #333;
        text-decoration: none;
    }
    .btn-arw-bk:hover {
        background-position: 97% 50%,0 0;
    }

    .btn-arw-gd {
        background-position: 97% 50%,0 0;
        padding-left: 15px;
        padding-right: 25px;
        color: #af7e00;
        text-decoration: none;
    }
    .btn-arw-gd:hover {
        background-position: 97% 50%,0 0;
    }

    .btn-login-gold {
        background: url("http://www.aplvs.com/shared/img/bg/sd-arrow-wht-bg.png"), -webkit-linear-gradient(bottom, #957114, #c7a54d);
        background: url("http://www.aplvs.com/shared/img/bg/sd-arrow-wht-bg.png"), -moz-linear-gradient(bottom, #957114, #c7a54d);
        background: url("http://www.aplvs.com/shared/img/bg/sd-arrow-wht-bg.png"), -o-linear-gradient(bottom, #957114, #c7a54d);
        background: url("http://www.aplvs.com/shared/img/bg/sd-arrow-wht-bg.png"), linear-gradient(to top, #957114, #c7a54d);
        background-position: 98% 50%,0 0;
        background-repeat: no-repeat;
        text-decoration: none;
    }
    .btn-login-gold:hover {
        background: url("http://www.aplvs.com/shared/img/bg/sd-arrow-wht-bg.png"), -webkit-linear-gradient(bottom, #c7a54d, #957114);
        background: url("http://www.aplvs.com/shared/img/bg/sd-arrow-wht-bg.png"), -moz-linear-gradient(bottom, #c7a54d, #957114);
        background: url("http://www.aplvs.com/shared/img/bg/sd-arrow-wht-bg.png"), -o-linear-gradient(bottom, #c7a54d, #957114);
        background: url("http://www.aplvs.com/shared/img/bg/sd-arrow-wht-bg.png"), linear-gradient(to top, #c7a54d, #957114);
        background-position: 98% 50%,0 0;
        background-repeat: no-repeat;
        color: #fff;
        text-decoration: none;
    }

    .btn-login {
        background: url("http://www.aplvs.com/shared/img/bg/sd-arrow-bg.png"), -webkit-linear-gradient(bottom, #e7e7e7, #fefefe 45%);
        background: url("http://www.aplvs.com/shared/img/bg/sd-arrow-bg.png"), -moz-linear-gradient(bottom, #e7e7e7, #fefefe 45%);
        background: url("http://www.aplvs.com/shared/img/bg/sd-arrow-bg.png"), -o-linear-gradient(bottom, #e7e7e7, #fefefe 45%);
        background: url("http://www.aplvs.com/shared/img/bg/sd-arrow-bg.png"), linear-gradient(to top, #e7e7e7, #fefefe 45%);
        background-position: 98% 50%,0 0;
        background-repeat: no-repeat;
        text-decoration: none;
    }
    .btn-login:hover {
        background: url("http://www.aplvs.com/shared/img/bg/sd-arrow-bg.png"), -webkit-linear-gradient(top, #e7e7e7, #fefefe 45%);
        background: url("http://www.aplvs.com/shared/img/bg/sd-arrow-bg.png"), -moz-linear-gradient(top, #e7e7e7, #fefefe 45%);
        background: url("http://www.aplvs.com/shared/img/bg/sd-arrow-bg.png"), -o-linear-gradient(top, #e7e7e7, #fefefe 45%);
        background: url("http://www.aplvs.com/shared/img/bg/sd-arrow-bg.png"), linear-gradient(to bottom, #e7e7e7, #fefefe 45%);
        background-position: 98% 50%,0 0;
        background-repeat: no-repeat;
        color: #af7e00;
        text-decoration: none;
    }

    .btn-tcard {
        background: url("http://www.aplvs.com/shared/img/bg/sd-arrow-wht-bg.png"), -webkit-linear-gradient(bottom, #071d5c, #0b2b8a);
        background: url("http://www.aplvs.com/shared/img/bg/sd-arrow-wht-bg.png"), -moz-linear-gradient(bottom, #071d5c, #0b2b8a);
        background: url("http://www.aplvs.com/shared/img/bg/sd-arrow-wht-bg.png"), -o-linear-gradient(bottom, #071d5c, #0b2b8a);
        background: url("http://www.aplvs.com/shared/img/bg/sd-arrow-wht-bg.png"), linear-gradient(to top, #071d5c, #0b2b8a);
        background-position: 98% 50%,0 0;
        background-repeat: no-repeat;
        text-decoration: none;
    }
    .btn-tcard:hover {
        background: url("http://www.aplvs.com/shared/img/bg/sd-arrow-wht-bg.png"), -webkit-linear-gradient(bottom, #0b2b8a, #071d5c);
        background: url("http://www.aplvs.com/shared/img/bg/sd-arrow-wht-bg.png"), -moz-linear-gradient(bottom, #0b2b8a, #071d5c);
        background: url("http://www.aplvs.com/shared/img/bg/sd-arrow-wht-bg.png"), -o-linear-gradient(bottom, #0b2b8a, #071d5c);
        background: url("http://www.aplvs.com/shared/img/bg/sd-arrow-wht-bg.png"), linear-gradient(to top, #0b2b8a, #071d5c);
        background-position: 98% 50%,0 0;
        background-repeat: no-repeat;
        color: #fff;
        text-decoration: none;
    }

    .btn-login02 {
        -moz-box-sizing: border-box;
        padding: 10px 0 8px;
    }
    .btn-login02:hover {
        padding: 10px 0 8px;
    }

    /*-------------------------------------------------------------------------
      Module PageTop Link (*** For Small Device ***)
    --------------------------------------------------------------------------*/
    .pagetop {
        width: 100%;
        margin: 0 auto 1em;
        padding: 0.5em 0;
    }
    .pagetop a {
        float: right;
        width: 121px;
        height: 13px;
        display: block;
        background: transparent url(http://www.aplvs.com/shared/img/bg/pagetop.png) no-repeat 0 0;
    }
    .pagetop a:hover {
        background-position: 0 -13px;
    }

    /*-------------------------------------------------------------------------
      Module Fluid Image (*** For Small Device ***)
    --------------------------------------------------------------------------*/
    .fluid-img {
        max-width: 100%;
        height: auto;
    }


    .fluid-movie {
        position:relative;
        width:100%;
        height:0;
        padding-top:75%;
    }

    .fluid-movie iframe{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }

    /*-------------------------------------------------------------------------
      Module Tab Layout
    --------------------------------------------------------------------------*/
    .tab-but {
        width: auto;
        margin: 0 -10px 1px;
        display: block;
        position: relative;
        cursor: pointer;
        background-image: none;
        border: none;
    }
    .tab-but i.icon-open {
        position: absolute;
        right: 1em;
        top: 50%;
        margin-top: -0.5em;
    }

    .t-tab .tab-but {
        width: auto;
        margin: 0 -10px 1px;
        background-image: none;
    }

    .tab-contents {
        margin-top: 1em;
    }

    /*-------------------------------------------------------------------------
      Module PDF Download box (*** For Small Device ***)
    --------------------------------------------------------------------------*/
    .pdf {
        display: none;
    }

    /*-------------------------------------------------------------------------
      Module Net station APLUS Login (*** For Small Device ***)
    --------------------------------------------------------------------------*/
    .nsa-login-box, .nsa-login-box02, .nsa-login-box03 {
        background-color: #eeebe2;
        border: solid 1px #d9ccab;
        padding: 1em 1em 0;
        margin-bottom: 1em;
    }
    .nsa-login-box p, .nsa-login-box02 p, .nsa-login-box03 p {
        margin-bottom: 0.5em;
        line-height: 1;
    }

    .nlb-primary {
        width: auto;
        float: none;
        text-align: center;
        margin-bottom: 1em;
    }

    .nlb-secondary {
        width: auto;
        float: none;
    }
    .nlb-secondary > div {
        text-align: center;
    }
    .nlb-secondary > div p {
        font-size: 1em;
        font-weight: bold;
    }

    .nlb-login-btn {
        width: auto;
        float: none;
    }

    .nlb-regist-btn {
        width: auto;
        float: none;
    }

    .nsalogo,
    .nsalogo-wide {
        width: 237px;
        height: 47px;
        display: block;
        margin: 0 auto 1em;
        float: none;
        background: transparent url(http://www.aplvs.com/shared/img/bg/nsalogo-sd.png) repeat-x 0 0;
        background-size: 237px 47px;
    }

    .nsa-login-box02 {
        text-align: center;
    }
    .nsa-login-box02 p {
        line-height: 1.5;
    }
    .nsa-login-box02 p span {
        display: block;
    }
    .nsa-login-box02 .nlb-but-area {
        width: auto;
        margin: 0;
    }
    .nsa-login-box02 .nlb-but-area div {
        float: none;
    }
    .nsa-login-box02 .nlb-but-area div:first-child {
        margin-right: 0;
    }
    .nsa-login-box02 .btn {
        margin-bottom: 0.5em;
    }

    .nsa-login-box03 .nsalogo-wide {
        float: none;
        margin: 0 auto 1em;
    }
    .nsa-login-box03 .nsa-ctr-box {
        width: auto;
        margin: 0;
    }

    /*-------------------------------------------------------------------------
      Module Important Area (*** For Small Device ***)
    --------------------------------------------------------------------------*/
    .important {
        margin-bottom: 1em;
        position: inherit;
    }
    .important .to-list {
        /* For LinkButton */
        position: inherit;
        margin: 0 -10px;
        padding: 1em;
        background: red url(http://www.aplvs.com/shared/img/bg/sd-arrow-wht-bg.png) no-repeat 98% 50%;
        display: block;
        cursor: pointer;
    }
    .important .to-list a {
        color: #FFF;
        text-decoration: none;
        font-size: 16px;
        background: none;
        padding-left: 0;
    }
    .important dl {
        /* For ListPage*/
    }
    .important dl dt {
        float: none;
        clear: none;
        width: auto;
        margin-right: 0;
    }
    .important dl dd {
        overflow: inherit;
        margin-bottom: 1.5em;
    }

    .important02 {
        margin: 0 -10px;
    }
    .important02 .box {
        padding-top: 0;
    }
    .important02 .title-expand {
        background: #F00;
        color: #FFF;
        padding-top: 0.5em;
        border-bottom: none;
        margin-bottom: 0.5em;
        font-weight: normal;
    }

    /*-------------------------------------------------------------------------
      Module Info News Area (*** For Small Device ***)
    --------------------------------------------------------------------------*/
    .info-news, .ir-news {
        position: inherit;
        margin-bottom: 1em;
    }
    .info-news .to-list, .ir-news .to-list {
        position: inherit;
        margin: 0 -10px 0;
        padding: 1em;
        background: #333333 url(http://www.aplvs.com/shared/img/bg/sd-arrow-wht-bg.png) no-repeat 98% 50%;
        display: block;
        cursor: pointer;
    }
    .info-news .to-list a, .ir-news .to-list a {
        color: #FFF;
        text-decoration: none;
        font-size: 16px;
        background: none;
        padding-left: 0;
    }
    .info-news dl dt, .ir-news dl dt {
        float: none;
        margin-right: 0;
        width: auto;
    }
    .info-news dl dd, .ir-news dl dd {
        overflow: inherit;
    }

    /*-------------------------------------------------------------------------
      Module IRNews Area
    --------------------------------------------------------------------------*/
    /*-------------------------------------------------------------------------
      Module BackNumber List
    --------------------------------------------------------------------------*/
    .list-backnumber {
        margin: 0 -10px 1.5em;
        border-bottom: solid 1px #ddd;
    }
    .list-backnumber li {
        margin-bottom: 0;
        padding-left: 0;
        background-image: none;
        float: none;
        margin-right: 0;
    }
    .list-backnumber li a {
        display: block;
        padding: 1em;
        border-top: solid 1px #ddd;
        border-bottom: none;
        text-decoration: none;
        background: transparent url(http://www.aplvs.com/shared/img/bg/sd-arrow-bg.png) no-repeat 98% 50%;
    }
    .list-backnumber li a:hover {
        background-color: #eee;
    }

    /*-------------------------------------------------------------------------
      Module Union
    --------------------------------------------------------------------------*/
    .union {
        margin-top: -1em;
        border-top: solid 1px #FFF;
    }

    /*-------------------------------------------------------------------------
      Module Replace Image Title (*** For Small Device ***)
    --------------------------------------------------------------------------*/
    .rep-title {
        border-bottom: none;
        font-size: 20px;
        font-size: 2rem;
        border-left: solid 6px #55936B;
        line-height: 1.3;
        margin-bottom: 20px;
        padding: 3px 0 0 10px;
    }

    /*-------------------------------------------------------------------------
      Module Replace Image Banner (*** For Small Device ***)  For Personal Site
    --------------------------------------------------------------------------*/
    .rep-bnr {
        width: auto;
        height: auto;
        display: inherit;
        overflow: inherit;
    }
    .rep-bnr dl {
        line-height: 1.5em;
    }
    .rep-bnr dl dd {
        text-indent: 1em;
    }

    .rep-bnr-atm {
        background-image: none;
    }

    /*-------------------------------------------------------------------------
      Module Related Site Banner (*** For Small Device ***)
    --------------------------------------------------------------------------*/
    .bnr-related-site {
        max-width: 300px;
        margin: 0 auto 1em;
    }
    .bnr-related-site li a {
        display: block;
        background: transparent url(http://www.aplvs.com/shared/img/bg/bnr-related-site-sd.png) no-repeat 0 0;
        background-size: 145px 90px;
        width: 145px;
        height: 30px;
        overflow: hidden;
    }
    .bnr-related-site li .bnr-financial {
        background-position: 0 -30px;
    }
    .bnr-related-site li .bnr-personal {
        background-position: 0 -60px;
    }

    /*-------------------------------------------------------------------------
      Module Lone Page Banner
    --------------------------------------------------------------------------*/
    .bnr155, .bnr155-left {
        width: auto;
    }
    .bnr155 li, .bnr155-left li {
        width: auto;
        text-align: center;
        margin: 0 0 1em 0;
        float: none;
    }
    .bnr155 li:last-child, .bnr155-left li:last-child {
        float: none;
        margin-bottom: 0;
    }

    /*-------------------------------------------------------------------------
      Menu Block Area (*** For Small Device ***)
    --------------------------------------------------------------------------*/
    .menu-block-area {
        border-bottom: solid 2px #333;
        width: auto;
        margin: 0 -10px 1em;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .menu-block-area .row,
    .menu-block-area .row > div {
        margin-bottom: 0;
    }

    .sd-link-area .menu-block {
        cursor: pointer;
    }
    .sd-link-area .menu-block:hover {
        background-image: none;
        background-color: #eee;
    }

    .menu-block.sd-area-ex {
        cursor: pointer;
    }
    .menu-block.sd-area-ex:hover {
        background-image: none;
        background-color: #eee;
    }

    /* Small Title & Only Title */
    .menu-block-title-s,
    .menu-block-title-o {
        margin-bottom: 0;
    }

    .menu-block-trimming {
        float: left;
        height: 92px;
        display: block;
        margin-right: 10px;
        margin-bottom: 0;
        overflow: hidden;
        position: relative;
        width: 132px;
        border: solid 1px #ccc;
    }
    .menu-block-trimming img {
        position: absolute;
        top: 0;
        left: -34px;
        padding: 0;
    }

    /* Symbol Image */
    .menu-block-symbol {
        zoom: 0.8;
    }

    /*-------------------------------------------------------------------------
      Loan Module (*** For Small Device ***)
    --------------------------------------------------------------------------*/
    .modu-loan-online {
        width: 100%;
    }

    /*-------------------------------------------------------------------------
      Menu Block Area Transform (*** For Small Device ***)
    --------------------------------------------------------------------------*/
    .transform-menu {
        border-bottom: none;
    }
    .transform-menu .menu-block {
        background-image: none;
        border-top: none;
        margin-bottom: 1em;
    }
    .transform-menu h2 {
        font-size: 20px;
        font-size: 2rem;
        border-left: solid 6px #55936B;
        line-height: 1.3;
        margin-bottom: 20px;
        padding: 3px 0 0 10px;
    }
    .transform-menu ul li {
        background: none;
        display: inherit;
        margin: 0 -10px;
        padding: 0;
    }
    .transform-menu ul li:last-child {
        border-bottom: solid 1px #ddd;
    }
    .transform-menu ul li a {
        display: block;
        padding: 1em;
        border-top: solid 1px #ddd;
        border-bottom: none;
        text-decoration: none;
        background: transparent url(http://www.aplvs.com/shared/img/bg/sd-arrow-bg.png) no-repeat 98% 50%;
    }
    .transform-menu ul li a:hover {
        background-color: #eee;
    }

    /*-------------------------------------------------------------------------
      Campaign Area (*** For Small Device ***)
    --------------------------------------------------------------------------*/
    .campaign-area .row {
        padding-bottom: 0;
    }
    .campaign-area .row > div:first-child {
        text-align: center;
    }

    .campaign-img {
        text-align: center;
    }

    /*-------------------------------------------------------------------------
      Card Area (*** For Small Device ***)
    --------------------------------------------------------------------------*/
    .title-sd-btn {
        border: none;
        padding: 1em;
        background-color: #EEE;
        margin: 0 -10px 1px;
        font-size: 16px;
        font-size: 1.6rem;
    }

    .sub-laed {
        font-size: 14px;
        font-size: 1.4rem;
        margin-top: 1em;
    }

    .card-menu .box.bg1 {
        padding: 1em 1em 0;
    }

    .card-image {
        width: auto;
        text-align: center;
        float: none;
    }

    .card-detail {
        width: auto;
        float: none;
        padding: 0 10px;
    }

    .card-detail-caption h4 {
        font-weight: normal;
        margin-bottom: 1em;
        line-height: 1.5;
    }
    .card-detail-caption .fixbtn {
        float: none;
        margin-top: 0;
    }

    .card-detail-col {
        padding: 0 10px;
    }

    .card-detail-collft {
        float: none;
        width: auto;
        margin: 0 -10px;
    }

    .card-detail-colrgt {
        float: none;
        width: auto;
        margin: 0 -10px 1em;
    }
    .card-detail-colrgt dl dt {
        margin-bottom: 0.5em;
    }
    .card-detail-colrgt dl dd:nth-child(2) {
        margin-bottom: 0.5em;
    }

    .card-menu .box.bg1 {
        margin: 0 -10px;
    }

    /*-------------------------------------------------------------------------
      Overwrite Styles
    --------------------------------------------------------------------------*/
    .mb-7 {
        margin-bottom: 7px;
    }

    .mb-10 {
        margin-bottom: 10px;
    }

    .mb-15 {
        margin-bottom: 15px;
    }

    .mb-20 {
        margin-bottom: 20px;
    }

    .mb-25 {
        margin-bottom: 25px;
    }

    .mb-30 {
        margin-bottom: 30px;
    }

    .mb-35 {
        margin-bottom: 35px;
    }

    .mb-40 {
        margin-bottom: 40px;
    }

    .mb-45 {
        margin-bottom: 45px;
    }

    .mb-50 {
        margin-bottom: 50px;
    }

    .mb-55 {
        margin-bottom: 55px;
    }

    .mb-60 {
        margin-bottom: 60px;
    }

    .mb-none {
        margin-bottom: 0;
    }

    /*------------------------------------------------------------------------*/
    /*-------------------------------------------------------------------------
      Wide Use
    --------------------------------------------------------------------------*/
    .pc-hide {
        display: block;
    }

    .sd-hide, .hd-utility li .hd-faq,
    .hd-utility li .hd-company,
    .hd-utility li .hd-en,
    .hd-utility li .hd-jp,
    .hd-utility li .hd-personal, .hd-catlabel, header .site-search {
        display: none;
    }

    .display {
        display: block;
    }

    .undisplayed {
        display: none;
    }

    .sd-open-btn i {
        float: right;
    }

    .sd-area-close {
        display: none;
    }

    .sd-area-open {
        display: block;
    }
}