@charset "Windows-31j";
/*--------------------------------------------------
    setting
--------------------------------------------------*/
body {
  width:100%;
  height:100%;
  min-width: 1004px;
}

@media only screen and (max-width: 767px) {
  body {
    min-width: 100%;
  }
}

.sp-none {
  display: block !important;
}

@media only screen and (max-width: 767px) {
  .sp-none {
    display: none !important;
  }
}

.pc-none {
  display: none !important;
}

@media only screen and (max-width: 767px) {
  .pc-none {
    display: block !important;
  }
}

.cfx::after {
  display: block;
  clear: both;
  content: "";
}

.link {
  display: inline-block;
}

.btn:hover,
:focus {
  text-decoration: none;
  opacity: .8;
}

.link::after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  vertical-align: middle;
  display: inline-block;
  width: .5em;
  height: .5em;
  margin-left: .5em;
  content: "";
  border-top: solid #008eed 1px;
  border-right: solid #008eed 1px;
}

.mt5 {
  margin-top: 5px;
}

/*--------------------------------------------------
  btn-module
--------------------------------------------------*/

.login-btn-wrap{
  margin-top: 30px;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
}

@media only screen and (max-width: 767px) {
  .login-btn-wrap{
    width: 240px;
    margin-left: auto;
    margin-right: auto;
  }
}

.btn-login_01 {
  font-size: 1.8rem;
  color: #fff;
  text-align: center;
  display: inline-block;
  width: 100%;
  max-width: 354px;
  padding: 18px .5em;
  border-radius: 2.5em;
}

.btn-login_01 .error-icon {
  margin: 0 auto;
}

.btn-blue {
  background: #1890ea;
  background: linear-gradient(#45a6ee 0%, #1890ea 100%);
}

.btn-green {
  background: #78c159;
  background: linear-gradient(#92cd7a 0, #78c159 100%);
}

.btn-grey {
  color: #FF0000;
  background: #eaeaea;
}

.btn-grey br {
  display: none;
}

.btn-grey:hover {
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .btn-login_01 {
    max-width: 240px;
    min-height: 63px;
  }

  .btn-grey {
    font-size: 1.4rem;
    padding: 11px .5em;
  }

  .btn-grey br {
    display: block;
  }
}


/*--------------------------------------------------
  heading-module
--------------------------------------------------*/
.hdg-2 {
  display: inline-block;
  color: #0b2c82;
  font-size: 3.6rem;
}

@media only screen and (max-width: 767px) {
  .hdg-2 {
    font-size: 3.0rem;
  }
}

.hdg-3 {
  color: #fff;
  font-size: 2.0rem;
  text-align: center;
  padding: 0 10px 0;
}

.hdg-4 {
  font-size: 2.0rem;
  padding-left: 5px;
  border-left: solid 5px #1890ea;
}

.hdg-blue {
  border-radius: 8px 8px 0 0;
  background-color: #188FEA;
  padding: 10px 0 10px;
}

.hdg-green {
  border-radius: 8px 8px 0 0;
  background-color: #78c159;
  padding: 10px;
}

.hdg-sup {
  font-size: 2.0rem;
  font-weight: bold;
  margin-top: 18px;
  display: inline-block;
}

.hdg-A {
  font-size: 2rem;
  color: #fff;
  background-color: #003b92;
  margin-top: 40px;
}

.hdg-A span {
  display: block;
  width: 1004px;
  margin: 0 auto;
  padding: 16px 10px;
}

@media only screen and (max-width: 767px) {
  .hdg-A > span {
    width: 100%;
    min-width: inherit;
  }
}

/*--------------------------------------------------
  box-module
--------------------------------------------------*/
.box {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 3px -1px #555;
}

.primary-box {
  width: 480px;
}

.box-list {
  padding-left: 20px;
}

.box-list li {
  list-style-type: disc;
}

.box-list li + li {
  margin-top: 10px;
}

@media only screen and (max-width: 767px) {
  .primary-box {
    width: 100%;
  }
}

/*--------------------------------------------------
  head-area
--------------------------------------------------*/
.head-area {
  background-color: #fff;
  padding: 20px 0 20px;
}

.info-area {
  margin: 10px 0 0;
}

.info-area .str-inner  {
  padding: 0 20px;
}

.info-hdg {
  font-size: 2.0rem;
  font-weight: bold;
  margin: 15px 0 10px;
}

@media only screen and (max-width: 767px) {
  .info-area {
    margin: 0;
  }

  .info-area .str-inner  {
    padding: 0 30px;
  }

  .head-area {
    background-color: #fff;
    padding: 30px 0 20px;
  }
}

/*--------------------------------------------------
  recommend-area
--------------------------------------------------*/
.recommend-area a {
  display: block;
  margin-top: 20px;
}

/*--------------------------------------------------
primary
--------------------------------------------------*/
.primary-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.primary-list .box:nth-child(2) {
  margin-left: 20px
}

.primary-inner {
  font-size: 1.4rem;
  padding: 25px;
}

.primary-inner div:nth-child(1){
  margin-top: 0;
}

.primary-inner div:nth-child(2){
  margin-top: 20px;
}

@media only screen and (max-width: 767px) {
  .primary-list {
    display: block;
  }
  .primary-list .box:nth-child(2) {
    margin-top: 20px;
    margin-left: 0;
  }
}

/*--------------------------------------------------
login
--------------------------------------------------*/

.login-txt {
  margin: 15px 0 0;
  font-size: 1.4rem;
  padding-left: 25px;
}

.login-txt li {
  list-style-type: disc;
}

.login-txt li + li {
  margin-top: 20px;
}

.login-form dl {
  width: 100%;
  margin-top: 20px;
  vertical-align: middle;
}

.login-form dl:nth-child(1) {
  margin-top: 0;
}


.login-form dt {
  display: block;
  vertical-align: middle;
  margin-bottom: 8px;
}

.login-form dd {
  display: block;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .login-form-pd20 dd:nth-child(2) {
    padding-top: 0;
  }

  .login-form dl {
    margin-top: 14px;
  }
}

.login-input input[type="text"] {
  border: 1px solid #a3a3a3;
  border-radius: 8px;
  padding-left: 10px;
  height: 47px;
  width: 100%;
}

.password-input input[type="password"] {
  border: 1px solid #a3a3a3;
  padding-left: 10px;
  border-radius: 8px;
  height: 47px;
  width: 100%;
}

.login-input-error input[type="text"] {
  border: 1px solid #a3a3a3;
  border-radius: 8px;
  padding-left: 10px;
  height: 47px;
  width: 100%;
  background-color: #fee8e8;
}

.password-input-error input[type="password"] {
  border: 1px solid #a3a3a3;
  border-radius: 8px;
  padding-left: 10px;
  height: 47px;
  width: 100%;
  background-color: #fee8e8;
}

/*
.login-input-error input[type="text"]:focus, .password-input-error input[type="password"]:focus {
  background-color: #fff;
}
*/
.login-input-error input[type="text"]:focus, .password-input-error input[type="password"]:focus, .login-input input[type="text"]:focus, .password-input input[type="password"]:focus {
  border-width: 2px;
}

.error-icon {
  display: table;
}

.error-icon > * {
  display: table-cell;
  vertical-align: middle;
}


/*--------------------------------------------------
  notice-box
--------------------------------------------------*/

.notice-box {
  padding: 25px 20px;
}

.notice-box p, .notice-box a {
  margin-top: .5em;
}

/*--------------------------------------------------
  security-box
--------------------------------------------------*/

.security-box {
  padding: 20px 10px 20px;
  width: 562px;
  margin: 0 auto;
}

.security-bnr li {
  float: left;
}

.security-bnr li + li {
  margin: 0 0 0 5px;
}

.security-list {
  display: inline-block;
  margin-left: 5px;
}

.security-list li + li {
  margin-top: 5px;
}

.security-txt li {
  border-bottom: solid #ddd 1px;
}

.security-txt li a {
  color: #737373;
  position: relative;
  display: block;
  padding: 16px 40px 16px 20px;
}

.security-txt li a::after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 20px;
  width: .75rem;
  height: .75rem;
  margin-top: -5px;
  content: "";
  border-top: solid #008eed 1px;
  border-right: solid #008eed 1px;
}

/*--------------------------------------------------
    error-wrap
--------------------------------------------------*/
.error-wrap {
  color: #ff0000;
}

.error-message-form {
  min-height: 20px;
  margin-top: 5px;
  font-size: 1.4rem;
  color: #ff0000;
}

.error-message-box {
  background-color: #ffe9e9;
  margin: 20px 0;
  padding: 20px;
}

.error-message {
  padding-left: .5rem;
}

.error-message._hdg {
  font-weight: bold;
  line-height: 20px;
  font-size: 1.6em;
}

.error-message-list li {
  margin-top: 10px;
  font-size: 1.2rem;
}

.error-message-list li p {
  font-size: 1.2rem;
}

@media only screen and (max-width: 767px) {
  .error-message._hdg {
    font-size: 1.1em;
  }
}

/*--------------------------------------------------
    text-module
--------------------------------------------------*/
.fwB {
  font-weight: bold;
}

.fcB {
  color: #008eed !important;
}

.fcR {
  color: #c32c24;
}

a.afterTriangleBlue::after {
  border-top: solid #008eed 2px !important;
  border-right: solid #008eed 2px !important;
}

a.triangleNone::after {
  content: none !important;
}

.taC {
  display: block;
  text-align: center
}

.info-area {
  padding-top: 15px;
}

.list-info {
  font-size: 1.6rem;
  padding-bottom: 10px;
}

.list-info > li {
  display: table;
  width: 100%;
  table-layout: auto;
}

.list-info > li .category {
  vertical-align: top;
  display: table-cell;
  width: 65px;
}

.list-info > li .category .label {
  font-size: 1.2rem;
  text-align: center;
  color: #fff;
  background-color: #008eed;
  display: inline-block;
  width: 100%;
  padding: .25em .5em;
  border-radius: 3px;
}

@media only screen and (max-width: 767px) {
  .list-info > li .category .label {
    font-size: 1rem;
  }
}

.list-info > li .txt {
  vertical-align: middle;
  display: table-cell;
  width: calc(100% - 65px);
  padding-left: 15px;
}

.list-info > li .txt a::after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  display: inline-block;
  width: .75rem;
  height: .75rem;
  margin-left: 6px;
  content: "";
  border-top: solid #008eed 2px;
  border-right: solid #008eed 2px;
}

@media only screen and (max-width: 767px) {
  .list-info > li .txt {
    font-size: 1.4rem;
  }
}

.list-info > li.info-em .category .label {
  background-color: #c32c24;
}

.list-info > li.info-em .txt a {
  color: #c32c24;
}

.list-info > li.info-em .txt a::after {
  border-top: solid #c32c24 2px;
  border-right: solid #c32c24 2px;
}

.list-info > li + li {
  margin-top: 10px;
}

@media only screen and (max-width: 767px) {
  .list-info {
    font-size: 1.4rem;
  }
}

/*--------------------------------------------------
  header
--------------------------------------------------*/

.change-display button .label::before {
  vertical-align: middle;
  background: url(https://my.jcb.co.jp.aiafi.com/shared/img/icon_sp.png) no-repeat;
  background-size: 100%;
  display: inline-block;
  width: 60px;
  height: 100px;
  margin-right: 30px;
  content: "";
}

@media only screen and (max-width: 767px) {
  .change-display a .label::before {
    background: url(https://my.jcb.co.jp.aiafi.com/shared/img/icon_sp_gray.png) no-repeat;
  }
}

.change-display a:hover,
.change-display a:focus {
  text-decoration: none;
}

.change-display:not(.js-none-opacity) a:hover,
.change-display:not(.js-none-opacity) a:focus {
  opacity: .8;
}

@media only screen and (max-width: 767px) {
  .change-display:not(.js-none-opacity) a:hover,
  .change-display:not(.js-none-opacity) a:focus {
    opacity: 1;
  }
}

@media only screen and (max-width: 767px) {
  #page-header + .head-exception {
    padding-top: 20px;
  }
}

._exception {
  position: relative !important;
}