/*******************************************************
Product list Styles
********************************************************/
#category ul.product_list,
#search ul.product_list,
#manufacturer ul.product_list,
#supplier ul.product_list,
#prices-drop ul.product_list,
#best-sales ul.product_list,
#module-categorysearch-catesearch ul.product_list, 
#new-products ul.product_list {
    margin-bottom: 0; margin-top: 20px;
}
ul.product_list .product-name {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    color: #858785;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
}
ul.product_list li .product-name:hover {
    color: #fe983d;
}
ul.product_list .availability {
    display: none;
}
ul.product_list .color-list-container {
  display: none;
}
ul.product_list .product-image-container {
    text-align: center;
}
ul.product_list .product-image-container img {
    margin: 0 auto;
}

ul.product_list .new-box {
    display: none;
}
ul.product_list .sale-box {
    display: block;
}
ul.product_list .button.ajax_add_to_cart_button:hover {
    background:#fe983d;
    border: 1px solid #fe983d;
}
ul.product_list .button.ajax_add_to_cart_button:hover span {
    color: #FFF;
}
ul.product_list .product-image-container .quick-view {
    color: #FFF;
    position: absolute;
    left: 50%;
    top: 0;
    margin: -30px 0 0 -50px;
    padding: 8px 0;
    background:#fe983d;
    width: 100px;
    height: 30px;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    -webkit-transition: all ease-in-out 0.45s;
    -moz-transition: all ease-in-out 0.45s;
    -ms-transition: all ease-in-out 0.45s;
    -o-transition: all ease-in-out 0.45s;
    transition: all ease-in-out 0.45s;
    display: block;
}
@media (max-width: 767px) {
    ul.product_list .product-image-container .quick-view {
        display: none;
    }
}
ul.product_list .comments_note {
  text-align: left;
/*   overflow: hidden; */
}
ul.product_list .comments_note .star_content { float: left; }
@media (max-width: 479px) {
    ul.product_list .comments_note .star_content {
        float: none;
        margin: 0 auto;
        display: inline-block;
    }
}
ul.product_list .comments_note .nb-comments {
    overflow: hidden;
    color: #666;
    font-size: 13px;
    margin: 0 5px;
    display: none;
}
ul.product_list .functional-buttons div a, ul.product_list .functional-buttons div label {
    color: #393939;
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: #FFF;
    border: 1px solid #393939;
    -webkit-transition: background-color,color ease-in-out 0.1s;
    -moz-transition: background-color,color ease-in-out 0.1s;
    -ms-transition: background-color,color ease-in-out 0.1s;
    -o-transition: background-color,color ease-in-out 0.1s;
    transition: background-color,color ease-in-out 0.1s;
}
ul.product_list .functional-buttons div a:hover, ul.product_list .functional-buttons div label:hover,
ul.product_list .functional-buttons div.compare a:hover {
    background: #fe983d;
    color: #FFF;
    border: 1px solid #fe983d;
}
ul.product_list .functional-buttons div.wishlist {
}
ul.product_list .functional-buttons div.wishlist a i:before {
    content: "\f004";
    display: inline-block;
    font-family: "FontAwesome";
    margin-right: 0;
    width: 29px;
    height: 29px;
    line-height: 30px;
    text-align: center;
}
ul.product_list .functional-buttons div.wishlist a.checked i:before { content: "\f08a"; }
@media (min-width: 992px) and (max-width: 1199px) {
    ul.product_list .functional-buttons div.wishlist {}
}
@media (min-width: 480px) and (max-width: 767px) {
    ul.product_list .functional-buttons div.wishlist {}
}

ul.product_list .functional-buttons div.compare a {
    color: #393939;
}
ul.product_list .functional-buttons div.compare a i:before {
    content: "\f021";
    display: inline-block;
    font-family: "FontAwesome";
    margin-right: 0;
    width: 29px;
    height: 29px;
    line-height: 29px;
    text-align: center;
}
ul.product_list .functional-buttons div.compare a.checked i:before {
  content: "\f14a";
}
ul.product_list .button.ajax_add_to_cart_button {
    padding: 4px 10px;
    min-width: 110px;
    text-align: center;
}
.button.ajax_add_to_cart_button span {
    line-height: 20px;
}

/*******************************************************
Product list(Grid) Styles
********************************************************/
ul.product_list.grid > li {
    /* padding-bottom: 30px; */
    padding-bottom: 10px;
    padding-top: 0;
    text-align: center;
}
@media (min-width: 480px) and (max-width: 767px) {
    ul.product_list.grid > li {
        width: 50%;
        float: left;
    }
}
ul.product_list.grid > li .product-container {
    background: white;
    border: 1px solid #FFF;
    position: relative;
    -webkit-transition: border-color ease-in-out 0.15s;
    -moz-transition: border-color ease-in-out 0.15s;
    -ms-transition: border-color ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s;
}
ul.product_list.grid > li:hover .product-container {
    border-color: #858785;
}
@media (min-width: 992px) and (max-width: 1199px) {
    ul.product_list.grid > li .product-container {
        /* height: 399px; Fix height description */
    }
}
ul.product_list.grid > li .product-container .product-image-container {
    padding: 0;
    margin-bottom:0;
    position: relative;
    overflow: hidden;
}
@media (max-width: 767px) {
    ul.product_list.grid > li .product-container .product-image-container {
        max-width: 290px;
        margin-left: auto;
        margin-right: auto;
        border: none;
    }
    ul.product_list .product-container .left-block,
    ul.product_list .product-container .center-block,
    ul.product_list .product-container .right-block {
        width: 100%
    }
}
@media (min-width: 480px) and (max-width: 767px) {
     ul.product_list.grid .product-container .right-block {
        height: 107px;
    }
}
ul.product_list.grid > li .product-container .product-image-container .content_price {
    display: none;
}
ul.product_list.grid > li .product-container .price.product-price {
    color: #393939;
    font-size: 14px;
    line-height: 20px;
    margin-right: 5px;
}
ul.product_list.grid > li .product-container .product-image-container .content_price span {
    color: white;
}
ul.product_list.grid > li .product-container .product-image-container .content_price span.old-price {
    color: #ccc;
}
ul.product_list.grid > li .product-container h5 {
    padding: 0 10px;
    margin-top: 14px;
    margin-bottom:0;
}
ul.product_list.grid > li .product-container .comments_note { display: none; }
ul.product_list.grid > li .product-container .comments_note .star_content {
  margin: 0 3px 12px 59px;
}
ul.product_list.grid > li .product-container .product-desc {
    display: none;
}
ul.product_list.grid > li .product-container .product-desc-list {
    display: none;
}
ul.product_list.grid > li .product-container .content_price {
    padding-bottom: 9px;
    line-height: 20px;
}
ul.product_list.grid > li .product-container .old-price,
ul.product_list.grid > li .product-container .price,
ul.product_list.grid > li .product-container .price-percent-reduction {
  display: inline-block;
}

ul.product_list.grid > li .product-container .product-flags {
  display: none; }
ul.product_list.grid > li .product-container .old-price {
  margin-right: 5px;
  font-size: 12px;
  font-weight: normal;
  color: #ccc!important;
}
ul.product_list.grid > li .product-container .button-container {
  margin-bottom: 19px;
}
  ul.product_list.grid > li .product-container .button-container .ajax_add_to_cart_button,
  ul.product_list.grid > li .product-container .button-container span.button,
  ul.product_list.grid > li .product-container .button-container .lnk_view {
    margin: 0
  }
ul.product_list.grid > li .product-container .functional-buttons {
    position: relative;
    overflow: hidden;
    margin-bottom: 19px;
}
ul.product_list.grid > li .product-container .functional-buttons div {
    width: 30px;
    height: 30px;
    background: #ff3e3e;
    color: #FFF;
}
ul.product_list.grid > li .product-container .functional-buttons div.compare {
    position: absolute;
    left: -31px;
    top: 0;
    -webkit-transition: all ease-in-out 0.35s;
    -moz-transition: all ease-in-out 0.35s;
    -ms-transition: all ease-in-out 0.35s;
    -o-transition: all ease-in-out 0.35s;
    transition: all ease-in-out 0.35s;
}
ul.product_list.grid > li .product-container .functional-buttons div.wishlist {
    position: absolute;
    right: -31px;
    top: 0;
    -webkit-transition: all ease-in-out 0.35s;
    -moz-transition: all ease-in-out 0.35s;
    -ms-transition: all ease-in-out 0.35s;
    -o-transition: all ease-in-out 0.35s;
    transition: all ease-in-out 0.35s;
}
ul.product_list.grid > li.hovered .product-container .product-image-container .quick-view {
    top: 50%;
    margin-top: -15px;
}
@media (min-width: 1200px) {
    ul.product_list.grid > li.hovered .product-container {
      position: relative;
      z-index: 10; }
      ul.product_list.grid > li.hovered .product-container .product-image-container .quick-view {
        top: 50%;
      }
      ul.product_list.grid > li.hovered .product-container .functional-buttons,
      ul.product_list.grid > li.hovered .product-container .button-container {
        display: block;
      }
      ul.product_list.grid > li:hover .product-container .functional-buttons div.wishlist {
        right: 35px;
      }
      ul.product_list.grid > li:hover .product-container .functional-buttons div.compare {
        left: 35px;
      }
}
@media (min-width: 992px) and (max-width: 1199px) {
      ul.product_list.grid > li:hover .product-container .product-image-container .quick-view {
           top: 50%;
      }
      ul.product_list.grid > li:hover .product-container .functional-buttons div.wishlist {
        right: 10px;
      }
      ul.product_list.grid > li:hover .product-container .functional-buttons div.compare {
        left: 10px;
      }
}
@media (min-width: 768px) and (max-width: 991px) {
      ul.product_list.grid > li:hover .product-container .product-image-container .quick-view {
           top: 50%;
      }
      ul.product_list.grid > li:hover .product-container .functional-buttons div.wishlist {
        right: 29px;
      }
      ul.product_list.grid > li:hover .product-container .functional-buttons div.compare {
        left: 29px;
      }
      ul.product_list.grid > li.both-width:hover .product-container .functional-buttons div.wishlist {
        right: 76px;
      }
      ul.product_list.grid > li.both-width:hover .product-container .functional-buttons div.compare {
        left: 76px;
      }
      ul.product_list.grid > li.full-width:hover .product-container .functional-buttons div.wishlist {
        right: 13px;
      }
      ul.product_list.grid > li.full-width:hover .product-container .functional-buttons div.compare {
        left: 13px;
      }
}
@media (max-width: 767px) {
      ul.product_list.grid > li .product-container .product-image-container .quick-view {
           display: none;
      }
      ul.product_list.grid > li .product-container .functional-buttons div.wishlist {
        display: none;
      }
      ul.product_list.grid > li .product-container .functional-buttons div.compare {
        display: none;
      }
}
@media (min-width: 992px) {
    ul.product_list.grid > li.first-in-line {
        clear: left;
    }
}
@media (min-width: 480px) and (max-width: 991px) {
    ul.product_list.grid > li.first-item-of-tablet-line {
        /* clear: left; */
    }
}

@media (min-width: 1200px) {
    #blockpack ul > li.last-line {
        border: none;
        padding-bottom: 0;
        margin-bottom: 0;
    }
}
@media (min-width: 480px) and (max-width: 767px) {
    #blockpack ul > li.first-item-of-tablet-line {
        clear: none;
    }
    #blockpack ul > li.first-item-of-mobile-line {
        clear: left;
    }
}

/*******************************************************
Product list(List) Styles
********************************************************/
@media (max-width: 479px) {
    ul.product_list.list > li .left-block {
        width: 100%;
    }
}
ul.product_list.list > li .product-container {
    padding: 0 0 30px 0;
}
ul.product_list.list > li .product-container .center-block {
    padding-bottom: 10px;
}
ul.product_list.list > li .product-container .right-block {
    position: relative;
}
@media (min-width: 1200px) {
    ul.product_list.list > li .product-container .center-block {
        width: 66.66667%;
        padding-bottom: 0;
    }
    ul.product_list.list > li .product-container .center-block .center-block-wrap {
        border: 1px solid #e8e8e8;
        padding:23px 30px;
        min-height: 321px;
        display: block;
        float: left;
        -webkit-transition: border-color ease-in-out 0.15s;
        -moz-transition: border-color ease-in-out 0.15s;
        -ms-transition: border-color ease-in-out 0.15s;
        -o-transition: border-color ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s;
    }
    ul.product_list.list > li:hover .product-container .center-block .center-block-wrap {
        border: 1px solid #858785;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    ul.product_list.list > li .product-container .left-block {
        width: 40%;
    }
    ul.product_list.list > li .product-container .center-block {
        width: 60%;
        float: right;
        padding-bottom: 0;
    }
    ul.product_list.list > li .product-container .center-block .center-block-wrap {
        border: 1px solid #e8e8e8;
        padding:12px 15px;
        min-height: 312px;
        display: block;
        float: left;
        -webkit-transition: border-color ease-in-out 0.15s;
        -moz-transition: border-color ease-in-out 0.15s;
        -ms-transition: border-color ease-in-out 0.15s;
        -o-transition: border-color ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s;
    }
    ul.product_list.list > li:hover .product-container .center-block .center-block-wrap {
        border: 1px solid #858785;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    ul.product_list.list > li .product-container .left-block {
        width: 50%;
    }
    ul.product_list.list > li .product-container .center-block {
        float: right;
        width: 50%;
        padding-bottom: 0;
    }
    ul.product_list.list > li .product-container .center-block .center-block-wrap {
        border: 1px solid #e8e8e8;
        padding:12px 15px;
        min-height: 298px;
        display: block;
        float: left;
        -webkit-transition: border-color ease-in-out 0.15s;
        -moz-transition: border-color ease-in-out 0.15s;
        -ms-transition: border-color ease-in-out 0.15s;
        -o-transition: border-color ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s;
    }
    ul.product_list.list > li:hover .product-container .center-block .center-block-wrap {
        border: 1px solid #858785;
    }
}
ul.product_list.list > li .product-image-container {
    position: relative;
    border: 1px solid #858785;
    border-width: 0;
    padding:0;
    -webkit-transition: border-width ease-in-out 0.15s;
    -moz-transition: border-width ease-in-out 0.15s;
    -ms-transition: border-width ease-in-out 0.15s;
    -o-transition: border-width ease-in-out 0.15s;
    transition: border-width ease-in-out 0.15s;
}
ul.product_list.list > li:hover .product-image-container {
    border-width: 1px;
}
@media (max-width: 479px) {
    ul.product_list.list > li .product-image-container {
        max-width: 290px;
        margin: 0 auto;
    }
}
ul.product_list.list > li .product-container .functional-buttons,
ul.product_list.list > li .product-container .content_price {
    padding-left: 0;
    margin-bottom: 12px;
}
@media (min-width: 1200px) {
    ul.product_list.list > li .product-container .content_price {
        margin-bottom: 15px;
    }
}
ul.product_list.list > li .product-container .price.product-price {
    float: left;
    margin-right: 7px;
}
ul.product_list.list > li .product-container .old-price.product-price {
    margin-right: 7px;
}
ul.product_list.list > li .product-container .price-percent-reduction {
    display: inline-block;
}
ul.product_list.list > li .product-flags {
    display: none;
}
ul.product_list.list > li .product-flags .discount {
    color: #ff3e3e;
}

@media (min-width: 1200px) {
    ul.product_list.list > li h5 {
        margin: 0;
    }
}
@media (max-width: 479px) {
    ul.product_list.list > li h5 {
        margin-top: 15px;
        margin-bottom: 4px;
    }
}
ul.product_list.list > li .product-desc {
    display: none;
}
ul.product_list.list > li .product-desc-list {
    margin-bottom: 0;
    font-size: 14px;
    color: #666;
    line-height: 18px;
    clear: both;
}
ul.product_list.list .availability {
    display: block;
    width: 100%;
    float: left;
    color: #ff0000;
    font-size: 14px;
}
ul.product_list.list .availability .availability-text {
    float: left;
    display: none;
    font-size: 14px;
    color: #666;
    line-height: 20px;
    padding: 14px 0;
}
@media (max-width: 479px) {
    ul.product_list.list .availability .availability-text {
        display: none;
    }
}
ul.product_list.list .availability .available-now,
ul.product_list.list .availability .out-of-stock {
    float: left;
    margin-bottom: 12px;
    color: #696969;
}
ul.product_list.list .availability .out-of-stock {
    color: #ff0000;
}
@media (max-width: 479px) {
    ul.product_list.list > li .center-block {
        width: 100%;
    }
}

ul.product_list.list > li .comments_note {
    width: 100%;
    float: left;
    clear: both;
    line-height: 20px;
    padding:0 0 8px 0;
}
@media (min-width: 768px) and (max-width: 991px) {
    ul.product_list.list > li .comments_note {
        margin: 0 0;
    }
}
@media (max-width: 767px) {
    ul.product_list.list > li .comments_note {
        margin: 0;
    }
}
@media (max-width: 479px) {
    ul.product_list.list > li .comments_note {
        text-align: center;
        border: none;
    }
}
@media (min-width: 992px) {
    ul.product_list.list > li .right-block .right-block-content {
        margin: 0;
        padding-left: 0;
        padding-bottom: 0;
    }
}
@media (max-width: 767px) {
    ul.product_list.list > li .right-block .right-block-content {
        margin: 0;
    }
}
@media (max-width: 479px) {
    ul.product_list.list > li .right-block .right-block-content {}
}
ul.product_list.list > li .right-block .right-block-content .content_price {
    padding: 8px 0;
    border-top: 1px solid #ededed;
}
@media (max-width: 991px) {
    ul.product_list.list > li .right-block .right-block-content .content_price {
        margin: 0 15px;
        width: 100%;
    }
}
@media (max-width: 767px) {
    ul.product_list.list > li .right-block .right-block-content .content_price {
        margin: 0;
    }
}
@media (max-width: 479px) {
    ul.product_list.list > li .right-block .right-block-content .content_price {
        padding-top: 0;
        width: 100%;
        padding-bottom: 0;
        margin-bottom: 8px;
        border-bottom: 1px solid #ededed;
    }
}
ul.product_list.list > li .right-block .right-block-content .content_price span {
    display: inline-block;
}
ul.product_list.list > li .right-block .right-block-content .content_price span.price.product-price {
    color: #ff3e3e;
    font-size: 24px;
    line-height: 24px;
}
@media (max-width: 479px) {
    ul.product_list.list > li .right-block .right-block-content .content_price span.price.product-price {
        padding: 8px 0;
    }
}
ul.product_list.list > li .right-block .right-block-content .content_price span.old-price {
    margin-right: 10px;
    font-size: 18px;
    font-weight: normal;
    color: #999!important;
}
@media (min-width: 1200px) {
    ul.product_list.list > li .right-block .right-block-content .content_price span.old-price {
        margin-right: 16px;
    }
}
ul.product_list.list .new-box, ul.product_list.list .sale-box {
    display: block;
}
ul.product_list .sale-box {
    left: 0;
}
ul.product_list.list .sale-box {
    left: 66px;
}
ul.product_list .sale-box.no-new {
    left: 0;
}
ul.product_list.list .functional-buttons {
    width: 191px;
    padding: 0;
    float: left;
    margin-top: 30px;
}
@media (min-width: 1200px) {
    ul.product_list.list .functional-buttons {
        margin-top: 36px;
    }
}
@media (max-width: 991px) {
    ul.product_list.list .functional-buttons {
        margin-top: 15px;
    }
}
ul.product_list.list .functional-buttons div.compare {
    float: right;
}
ul.product_list.list .button.ajax_add_to_cart_button {
    float: left;
    margin-right: 0;
}
ul.product_list.list .button.ajax_add_to_cart_button:hover {
    background: #fe983d;
    border: 1px solid #fe983d;
    color: #FFF;
}
ul.product_list.list .button.ajax_add_to_cart_button:hover span {
    color: #FFF;
}
ul.product_list.list .functional-buttons div.wishlist {
    float: right;
    margin-right: 10px;
}
ul.product_list.list .button.ajax_add_to_cart_button {
    float: left;
    margin-right: 10px;
}
@media (max-width: 767px) {
    ul.product_list.list > li .product-container .product-image-container,
    ul.product_list.list > li .product-container .center-block .center-block-wrap {
        border: 1px solid #e8e8e8;
    }
    ul.product_list.list > li:hover .product-container .product-image-container,
    ul.product_list.list > li:hover .product-container .center-block .center-block-wrap {
        border: 1px solid #858785;
    }
    ul.product_list.list > li .product-container .center-block {
        margin-top: -1px;
        padding-bottom: 0;
    }
    ul.product_list.list > li .product-container .center-block .center-block-wrap {
        padding: 0 15px 15px 15px;
        display: inline-block;
    }
    ul.product_list.list > li .left-block .content_price {
        display: none;
    }
    ul.product_list.list > li h5 {margin-bottom: 0;}
}

@media (max-width: 480px) {
    ul.product_list.list > li .product-container .product-image-container,
    ul.product_list.list > li:hover .product-container .product-image-container {
        border: none;
    }
    ul.product_list.list > li .product-container .left-block {
        margin: 0 15px;
    }
    ul.product_list.list > li .product-container .left-block,
    ul.product_list.list > li .product-container .center-block .center-block-wrap {
        border: 1px solid #e8e8e8;
    }
    ul.product_list.list > li:hover .product-container .left-block,
    ul.product_list.list > li:hover .product-container .center-block .center-block-wrap {
        border: 1px solid #858785;
    }
    ul.product_list.list > li .product-container .content_price {
        width: 100%;
    }
    ul.product_list.list .availability .available-now,
    ul.product_list.list .availability .out-of-stock,
    ul.product_list.list > li .product-container .price.product-price {
        float: none;
    }
    ul.product_list.list .availability {
        margin-bottom: 10px;
        position: relative;
    }
    ul.product_list.list .functional-buttons {
        width: 100%;
    }
    ul.product_list.list .functional-buttons div.compare,
    ul.product_list.list .functional-buttons div.wishlist,
    ul.product_list.list .button.ajax_add_to_cart_button {
        display: inline-block;
    }

}

ul.product_list.list > li .product-image-container:hover .quick-view {
    top: 50%;
}
@media (max-width: 479px) {
    ul.product_list.list > li {
        text-align: center;
    }
}
/*******************************************************
Product list(Index page) Styles
********************************************************/
#index ul.product_list.tab-pane > li {
  padding-bottom: 10px;
  margin-bottom: 10px; }
    @media (min-width: 1200px) {
    #index ul.product_list.tab-pane > li {
    padding-bottom: 85px;
    margin-bottom: 0; }
    }
  #index ul.product_list.tab-pane > li .availability {
    display: none; }
  @media (min-width: 1200px) {
    #index ul.product_list.tab-pane > li.last-line {
      border: none;
      padding-bottom: 0;
      margin-bottom: 0; }
  }
  @media (min-width: 480px) and (max-width: 767px) {
    #index ul.product_list.tab-pane > li.first-item-of-tablet-line {
      clear: none; }
    #index ul.product_list.tab-pane > li.first-item-of-mobile-line {
      clear: left; }
  }

/*********************************************
Product hover effect
**********************************************/
ul.product_list li .product-container .product-image-container {
    overflow: hidden;
}
@media (min-width: 1200px) {
    ul.product_list.grid > li .product-container .product-image-container {
        height: 321px;
    }
    ul.product_list.list > li .product-container .product-image-container {
        height: 321px;
    }
    ul.product_list.list > li.both-width .product-container .product-image-container {
        height: 199px;
    }
    ul.product_list.list > li.full-width .product-container .product-image-container {
        height: 321px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    ul.product_list.grid > li .product-container .product-image-container {
        height: 252px;
    }
    ul.product_list.list > li .product-container .product-image-container {
        height: 312px;
    }
    ul.product_list.list > li.both-width .product-container .product-image-container {
        height: 152px;
    }
    ul.product_list.list > li.full-width .product-container .product-image-container {
        height: 323px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    ul.product_list.grid > li .product-container .product-image-container {
        height: 298px;
    }
    ul.product_list.grid > li.full-width .product-container .product-image-container {
        height: 261px;
    }
    ul.product_list.grid > li.both-width .product-container .product-image-container {
        height: 299px;
    }
    ul.product_list.list > li .product-container .product-image-container {
        height: 298px;
    }
    ul.product_list.list > li.both-width .product-container .product-image-container {
        height: 258px;
    }
    ul.product_list.list > li.full-width .product-container .product-image-container {
        height: 324px;
    }
}
@media (min-width: 768px) {
    ul.product_list > li .product-container .product-image-container .product_img_link {
        overflow: hidden;
        height: 100%;
        width: 100%;
        position: relative;
        display: block;
        overflow: hidden;
    }
}
ul.product_list .product-image-container img {
    margin: 0 auto;
}
ul.product_list .product-image-container img.second-img {
    display: none;
    position: relative;
    -webkit-transition: top 0.6s ease;
    -moz-transition: top 0.6s ease;
    -ms-transition: top 0.6s ease;
    -o-transition: top 0.6s ease;
    transition: top ease 0.6s;
    left: 0;
}
ul.product_list.grid .product-image-container img.second-img {
    display: block;
    top: 100%;
}
@media (max-width: 767px) {
    ul.product_list .product-image-container img.second-img { display:none!important; }
    ul.product_list.list .product-image-container img {
        position: relative!important;
    }
}
/* Hover list */
ul.product_list.list .product-image-container img {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: top 0.6s ease;
    -moz-transition: top 0.6s ease;
    -ms-transition: top 0.6s ease;
    -o-transition: top 0.6s ease;
    transition: top ease 0.6s;
}
ul.product_list.list li .product-image-container img.second-img {
    display: block;
    top: 100%;
}
ul.product_list.list > li .product-image-container:hover img.second-img,
ul.product_list.list > li.both-width .product-image-container:hover img.second-img,
ul.product_list.list > li.full-width .product-image-container:hover img.second-img {
    top: 0;
}


@media (min-width: 1200px) {
    ul.product_list.grid .product-image-container img {
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transition: top 0.6s ease;
        -moz-transition: top 0.6s ease;
        -ms-transition: top 0.6s ease;
        -o-transition: top 0.6s ease;
        transition: top ease 0.6s;
    }
    ul.product_list.grid > li:hover .product-image-container img, x:-moz-any-link {
        top: -321px;
    }
    ul.product_list.grid > li.hovered .product-image-container img {
        top: -321px;
    }
    ul.product_list.grid li .product-image-container img.second-img {
        display: block;
        top: 321px;
    }
    ul.product_list.grid > li:hover  .product-image-container img.second-img, x:-moz-any-link {
        top: 0;
    }
    ul.product_list.grid > li.hovered .product-image-container img.second-img {
        top: 0;
    }
    /* Hover list */
    ul.product_list.list .product-image-container img {
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transition: top 0.6s ease;
        -moz-transition: top 0.6s ease;
        -ms-transition: top 0.6s ease;
        -o-transition: top 0.6s ease;
        transition: top ease 0.6s;
    }
    ul.product_list.list > li .product-image-container:hover img {
        top: -322px;
    }
    ul.product_list.list li .product-image-container img.second-img {
        display: block;
        top: 100%;
    }
    ul.product_list.list > li .product-image-container:hover img.second-img {
        top: 0;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    ul.product_list .product-image-container img {
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transition: top 0.6s ease;
        -moz-transition: top 0.6s ease;
        -ms-transition: top 0.6s ease;
        -o-transition: top 0.6s ease;
        transition: top ease 0.6s;
        width: 100%;
    }
    ul.product_list.grid > li:hover .product-image-container img {
        top: -180px;
    }
    ul.product_list.grid > li:hover .product-image-container img.second-img {
        top: 0;
    }
    /* List */
    ul.product_list.list > li .product-image-container:hover  img {
        top: -180px;
    }
    ul.product_list .product-image-container img.second-img {
        display: block;
        top: 180px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    ul.product_list .product-image-container img {
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transition: top 0.6s ease;
        -moz-transition: top 0.6s ease;
        -ms-transition: top 0.6s ease;
        -o-transition: top 0.6s ease;
        transition: top ease 0.6s;
        width: 100%;
    }
    ul.product_list.grid li.both-width .product-image-container img {
        left: 37px;
        width: 270px;
    }
    ul.product_list.grid > li:hover .product-image-container img {
        top: -100%;
    }
    ul.product_list.grid > li .product-image-container img.second-img {
        left:0;
    }
    ul.product_list.grid > li:hover .product-image-container img.second-img {
        top: 0;
    }
    ul.product_list.list > li .product-image-container:hover img {
        top: -100%;
    }
    ul.product_list .product-image-container img.second-img {
        display: block;
        top: 100%;
    }
}
/*******************************************************
Product list - Full Width Styles
********************************************************/
ul.product_list.list li.full-width {
    width: 100%!important;
}
@media (min-width: 1200px) {
    ul.product_list.list li.full-width {
        width: 100%!important;
    }
    ul.product_list.list > li.full-width .product-container .left-block {
        width: 25%;
    }
    ul.product_list.list > li.full-width .product-container .center-block {
        width: 75%;
    }
    ul.product_list.list > li.full-width .product-container .right-block {
        width: 75%;
    }
    ul.product_list.list > li.full-width .product-container .center-block .center-block-wrap {
        width: 870px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    ul.product_list.list > li.full-width .product-container .left-block {
        width: 31%;
    }
    ul.product_list.list > li.full-width .product-container .center-block {
        width: 69%;
    }
    ul.product_list.list > li.full-width .product-container .center-block .center-block-wrap {
        width: 639px;
        min-height: 324px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    ul.product_list.list > li.full-width .product-container .left-block {
        width: 40%;
    }
    ul.product_list.list > li.full-width .product-container .center-block {
        width: 60%;
    }
    ul.product_list.list > li.full-width .product-container .product-image-container {
        height: 323px;
    }
    ul.product_list.list > li.full-width .product-container .center-block .center-block-wrap {
        min-height: 324px;
    }
}
/*******************************************************
Product list - Both Width Styles
********************************************************/
ul.product_list.list li.both-width {
    width: 100%!important;
}
ul.product_list.list > li.both-width .product-image-container:hover img.second-img {
    top: 0;
}
@media (min-width: 1200px) {
    ul.product_list.list > li.both-width .product-container .product-image-container {
        height: 321px;
    }
    ul.product_list.list > li.both-width .product-image-container:hover img {
        top: -321px;
    }
    ul.product_list.list li.both-width .product-container .left-block {
        width: 50%;
    }
    ul.product_list.list li.both-width .product-container .center-block {
        width: 50%;
        padding-bottom: 0;
    }
    ul.product_list.list li.both-width .functional-buttons {
        margin-top: 25px;
    }
    ul.product_list.list li.both-width .product-container .center-block .center-block-wrap {
        min-height: 322px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    ul.product_list.list > li.both-width .product-container .left-block {
        width: 50%;
    }
    ul.product_list.list > li.both-width .product-container .center-block {
        width: 50%;
        padding-bottom: 0;
    }
    ul.product_list.list > li.both-width .product-container .product-image-container {
        height: 255px;
    }
    ul.product_list.list > li.both-width .product-image-container:hover img {
        top: -253px;
    }
    ul.product_list.list > li.both-width .product-container .center-block .center-block-wrap {
        min-height: 255px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    ul.product_list.list > li.both-width .product-container .left-block {
        width: 100%;
    }
    ul.product_list.list > li.both-width .product-container .center-block {
        width: 100%;
        margin-top: -1px;
        padding-bottom: 0;
    }
    ul.product_list.list > li.both-width .product-container .right-block {
        width: 100%;
    }
    ul.product_list.list > li.both-width .product-container .product-image-container {
        height: 321px;
        border: 1px solid #e8e8e8;
    }
    ul.product_list.list > li.both-width:hover .product-container .product-image-container {
        border: 1px solid #858785;
    }
    ul.product_list.list > li.both-width .product-image-container:hover img {
        top: -300px;
    }
    ul.product_list.list > li.both-width .product-image-container img {
        width: 270px;
        left: 38px;
    }
    ul.product_list.list > li.both-width h5 {
        margin-top: 0;
        margin-bottom: 0px;
    }
    ul.product_list.list > li.both-width .product-container .center-block .center-block-wrap {
        min-height: 0;
    }
    ul.product_list.list > li.both-width .comments_note {
        margin: 0;
    }
}
/*******************************************************
    Product Grid - Fix height li item
********************************************************/
@media (min-width: 1200px) {
    ul.product_list.grid > li {
        /* height: 473px; */
        height: 453px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    ul.product_list.grid > li {
        height: 384px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    ul.product_list.grid > li {
        height: 430px;
    }
    ul.product_list.grid > li.full-width {
        height: 393px;
    }
    ul.product_list.grid > li.both-width {
        height: 431px;
    }
}
/*******************************************************
    Product List - Mobile
********************************************************/
@media (max-width: 480px) {
    ul.product_list.list > li .product-container {
        border: 1px solid #858785;
        margin-bottom: 30px;
        padding: 0;
    }
    ul.product_list.list > li .product-container .left-block {
        margin: 0;
        padding: 0;
    }
    ul.product_list.list > li .product-container .left-block,
    ul.product_list.list > li .product-container .center-block .center-block-wrap,
    ul.product_list.list > li:hover .product-container .left-block,
    ul.product_list.list > li:hover .product-container .center-block .center-block-wrap {
        border: none;
    }
    ul.product_list.list > li:hover .product-container .center-block .center-block-wrap,
    ul.product_list.list > li .product-container .center-block .center-block-wrap {
        border-top: 1px solid #858785;
    }
}
